<app-profile-navigation *ngIf='device === "fullscreen"'></app-profile-navigation>
<div [@anime]="prepareRoute(person)" class='container'>
  <!-- <app-side-nav *ngIf='sideNavOpen || device === "fullscreen"' @sideNav></app-side-nav> -->
  <router-outlet #person="outlet">
  </router-outlet>
</div>
