<div class='wrapper' style='height: 80vh;'>
  <app-register (toggleRegister)='toggle($event)' *ngIf='displayLogin' @easeInOut></app-register>
  <app-meeting (toogle)='toggle($event)' class="test"></app-meeting>
  <app-login (toggleRegister)='toggle($event)' *ngIf='!displayLogin' @easeInOut></app-login>
</div>
<!-- <div class="container">

  <div class="field">
    <input type="text" required autocomplete="off" >
    <label title="Kullanıcı adınızı girin" data-title="Kullanıcı adı"></label>
  </div>

  <div class="field">
    <input type="password"  required autocomplete="off" id="password">
    <label for="password" title="Şifrenizi girin" ></label>
  </div>

</div> -->
