@import '../../../../custom-styles/variables.scss';

.vector {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-around;

  div {
    display: flex;
    height: 3px;
    width: 100%;
    background: white;
  }
}

marquee {
  background-color:  $secondary-color;
  // height: 25px;
  display: inline-flex;
  padding: 5px 0px;
  align-items: center;
}

.image {
  width: 30px
}

.flex {
  display: flex
}

.test {
  // width: min-content;
  width: 10rem
}

.text {
  padding: 0px 10px
}

.brand {
  // font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #292929;
  text-transform: uppercase;
  // font-family: Montserrat, sans-serif;
}


.links {
  text-transform: uppercase;

  a {
    color: #ffffff;
    padding: 10px 18px;
    text-decoration: none;
    font-size: 1.25rem;
    &.active {
      color:  $secondary-color;
      text-decoration: underline;
    }

    &:hover {
      color:  $secondary-color
    }
    // &:hover {

    //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    //   background-position: bottom;
    //   background-repeat: repeat-x;
    //   background-size: 10%;
    //   border-bottom: 0;
    //   // padding-bottom: .3em;
    //   text-decoration: none;

    // }
  }
}

header {
  .logo {
    // width: 10%;
    min-width: 80px;
    // width: 50%;
  }

  background-color: #325e7f;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}


// .login {
//   display: flex;

//   a {
//     &.sign_up {
//       color: #ffffff;
//       background-color: #5abc5a;
//     }

//     border: 1px solid #72ca72;
//     color: #292929;
//     margin-right: 15px;
//     font-size: 12px;
//     font-weight: 500;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: 1;
//     letter-spacing: normal;
//     padding: 10px 21px;
//     border-radius: 50px;
//   }
// }
