<header>
  <!-- <button>asdfsadf</button> -->
  <div (click)='toggleSideMenu()' class='vector' *ngIf='device !== "fullscreen"'>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class='test'>
    <a routerLink="/"><img src="../../../../assets/img/new/image@3x.png" alt="" class='logo'></a>
  </div>
  <div class='container links' *ngIf='device === "fullscreen"'>
    <!-- <a routerLink="/bounty" routerLinkActive='active'>bounty hunt</a> -->
    <!-- <a routerLink="/erc20" routerLinkActive='active'>ERC20</a> -->
    <a routerLink="/dashboard" routerLinkActive='active'>Dashboard</a>
    <a routerLink="/deposit" routerLinkActive='active'>buy cds token</a>
    <a routerLink="/profile" routerLinkActive='active'>my profile</a>
    <!-- <a href="http://coindogs.co/profile">My profile</a> -->
    <a routerLink="transactions" routerLinkActive='active'>transactions</a>
    <!-- <a routerLink="/profile/balance" routerLinkActive='active'>balance</a>
    <a routerLink="/profile/balance" routerLinkActive='active'>withdraw</a> -->
    <!-- <a routerLink="/support" routerLinkActive='active'>support</a> -->
    <a href="https://dev.coindogs.co/Faq"></a>
    <!-- <a routerLink="/auth" routerLinkActive='active'>race track</a> -->
    <!-- <a routerLink="/action" routerLinkActive='active'>action</a>
    <a routerLink="/market" routerLinkActive='active'>market</a> -->

    <!-- <a routerLink="/faq" routerLinkActive='active'>faq</a> -->


  </div>

</header>
<marquee scrolldelay="50" truespeed scrollDelay="100" class="d-flex" onmouseover="stop();" onmouseout="start();">
  <div class="flex">
    <div class="d-flex align-items-center text" *ngFor="let pair of text">
      <div>
        {{ pair}}
      </div>
    </div>
  </div>
</marquee>
