:host {
  font-size: 0.9rem;
  width: min-content;
}



button {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #86d735;
  font-size: 1em;

}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;


  header {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 16px;
    }
  }

  main {

    section {
      display: grid;
      grid-template-columns: 10% 18% 22% 20% 30%;
      align-items: center;

      &:not(.last) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    header {
      @extend section;
      line-height: 2rem;
     
      font-weight: 600;
      color: #292929;
      align-items: center;
    }
  }
}
