<div class='container card'>
  <header>
    <h3> Token calculator</h3>
    <!-- <div>
      Token calculator
    </div> -->
    <button class='test'>View all</button>
  </header>
  <main>
    <header>
      <div>TKN </div>
      <div>Tokens</div>
      <div>Amount</div>
      <div>Date</div>
      <!-- <div></div> -->
    </header>
    <ng-container *ngFor='let item of list; let last = last ' [class.last]="last">
      <section  [class.last]="last">
        <div><label class="checkbox">
            <input type="checkbox">
            <span class="checkmark"></span></label> </div>
        <div>{{item.amount}}</div>
        <div>{{item.value}}</div>
        <div>{{(item.date | date:'yyyy-MM-dd HH:mm a')}}</div>
        <button>{{item.button}}</button>
      </section>
    </ng-container>
  </main>
</div>
