<div class='container card'>
  <h2>Transactions</h2>
  <main id='grid' [ngStyle]='IE? "display: -ms-grid": ""'>
    <ng-container>
      <div (click)='sortArrayHandler("date")' class='grid-header column-1 row-1'>Date</div>
      <div (click)='sortArrayHandler("method")' class='grid-header column-2 row-1'>Method
      </div>
      <div (click)='sortArrayHandler("amount")' class='grid-header column-3 row-1'>Amount
      </div>
      <div (click)='sortArrayHandler("cdsToken")' class='grid-header column-4 row-1'>CDS Token
      </div>
      <div (click)='sortArrayHandler("status")' class='grid-header column-5 row-1'>Status
      </div>
      <div (click)='sortArrayHandler("status")' class='grid-header column-6 row-1'>View</div>
    </ng-container>

    <ng-container class="a" *ngFor='let transaction of transactions; let i = index'>

      <div [ngClass]='"row"+"-"+ i' class='column-1'>{{(transaction.date | date:'yyyy-MM-dd HH:mm a')}}</div>
      <div [ngClass]='"row"+"-"+ i' class='column-2'>{{transaction.currency}}</div>
      <div [ngClass]='"row"+"-"+ i' class='column-3'>{{(transaction.amount).toFixed(6)}}</div>
      <div [ngClass]='"row"+"-"+ i' class='column-4'>{{(transaction.cdsToken).toFixed(2)}}</div>

      <div [ngClass]='"row"+"-"+ i' class='column-5'>
        <div matTooltipPosition='above' [matTooltip]="getTooltiText(transaction.status)"
          [ngStyle]="{background : getMarkColor(transaction.status)}" class='marker'>
        </div>
      </div>

      <div [ngClass]='"row"+"-"+ i' class='column-6'>
        <mat-icon [ngClass]='transaction.status === 1?"active": ""' (click)='navigate(transaction)'>search
        </mat-icon>
      </div>
    </ng-container>
  </main>
  <footer>
    <button [ngClass]='transactionsUpdated? "unfilled": "filled"' class='secondary  low'
      (click)='updateTransactions()'>Update</button>
  </footer>
</div>
