@import '../../../custom-styles/variables.scss';

:host {
  flex-grow: 1;
}

button {
  &.secondary {
    &.unfilled {
      background-color: white;
      color: $secondary-color;

      &:hover {
        color: $secondary-color;
        background-color: white;
      }
    }
  }

}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    -ms-grid-columns: (3fr)[4] 1fr 1fr;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr) repeat(2, min-content);
    width: 100%;
    // padding: 2rem;

    .grid-header {
      -ms-grid-row: 1;
      grid-row: 1;
      border-bottom: 2px solid $secondary-color;
      cursor: pointer;
    }

    div {

      padding: 0.5rem
    }
  }
}

.marker {
  filter: blur(2px);
  width: fit-content;
  width: 0.1rem;
  margin: auto;
  background: red;
  border-radius: 50%;
}



@mixin col-x-list {
  @for $i from 1 through 12 {
    .column-#{$i} {
      grid-column: #{$i};
      -ms-grid-column: #{$i}
    }
  }
}

@mixin row-x-list {
  @for $a from 0 through 12 {
    .row-#{$a} {
      -ms-grid-row: #{$a+ 2};
      grid-row: #{$a +2};
    }
  }
}




mat-icon {
  color: grey;

  &.active {
    cursor: pointer;
    color: black;
  }
}

@include col-x-list;
@include row-x-list;

@media only screen and (min-width: 1200px) {
  .container {
    padding: 0 1rem;

    main {
      .column-1 {
        white-space: nowrap;
      }
    }

    button {
      display: none;
    }
  }
}
