@import '../../../../../custom-styles/variables.scss';
:host {
  font-size: 0.9rem;
}


.test {
  display: flex;
  justify-content: space-evenly;

  div {
    display: flex;
    flex-direction: column;

    span {
      font-weight: 600;
      color: #292929;
    }
  }
}

button {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #86d735;
  font-size: 1em;

}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;


  header {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 16px;
      margin: 1rem 0;
    }
  }

  main {

    section {
      height: 2rem;
      align-items: center;
      display: grid;
      grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
      align-items: center;

      .i {
        cursor: pointer;
        transform: translateY(-10%);

        .arrow {
          transition: all 0.2s linear;
          transform: rotate(-45deg);

          &.active {
            transform: rotate(45deg);
          }
        }

      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        span {
          cursor: pointer;
          text-transform: uppercase;
          font-size: 0.8rem;
          text-align: center;
          color: #515151;

          &:hover {
            color: #ff4f6a;
          }

          &.active {
            color: #ff4f6a;
            text-decoration-line: underline;
            text-decoration-style: dashed;
          }

          &.disabled {
            cursor: unset;
            color: #bababa;
          }
        }

      }
    }

    header {

      border-bottom: 2px solid  $secondary-color;
      // @extend section;
      height: 2rem;
      align-items: center;
      display: grid;
      // grid-template-columns: 10% 18% 22% 20% 30%;
      grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
      align-items: center;
      min-height: 2rem;
      height: fit-content;
      font-weight: 600;
      color: #292929;
    }
  }
}

@media only screen and (max-width: $screen-M) {
  .container {
    main {
      section {
        grid-template-columns: 12% 12% 12% 12% 12% 40%;

        .actions {
          span {
            font-size: 1rem;
          }
        }
      }

      ;

      header {
        grid-template-columns: 12% 12% 12% 12% 12% 40%;
      }
    }
  }

}

@media only screen and (max-width: 400px) {
  .container {
    main {
      section {
        grid-template-columns: 15% 25% 55% 5%;


        .actions {
          span {
            font-size: 1rem;
          }
        }
      }

      ;

      header {
        grid-template-columns: 15% 25% 55% 5%;

      }
    }
  }

}
