<div class='container card'>
  <header>
    <h3> Token calculator</h3>

    <button class='test'>View all</button>
  </header>
  <main>
    <header>
      <div> Coin </div>
      <div *ngIf='device !== "mobile"'>Name</div>
      <div> {{device === 'tablet'? 'Total': 'Total balance'}}</div>
      <div *ngIf='device !== "mobile"'> {{device === 'tablet'? 'Orders': 'On orders'}}</div>
      <div *ngIf='device !== "mobile"'> {{device === 'tablet'? 'BTC': 'BTC value'}}</div>
      <div>Actions</div>

    </header>
    <ng-container *ngFor='let item of list; let last = last ' [class.last]="last">
      <section>
        <div> {{item.symbol}} </div>
        <div *ngIf='device !== "mobile"'> {{item.name}}</div>
        <div> {{item.total}}</div>
        <div *ngIf='device !== "mobile"'> {{item.order}}</div>
        <div *ngIf='device !== "mobile"'> {{item.btc_value}}</div>
        <div class='actions'>
          <ng-container *ngIf='item.disabled'><span class='disabled'>Temporary disabled</span> </ng-container>
          <ng-container *ngIf='!item.disabled'>
            <span (click)='showDeposiWithraw(true, item)'
              [ngClass]="show === item && showDeposit? 'active': ''">Deposit</span>
            <span (click)='showDeposiWithraw(false, item)'
              [ngClass]="show === item && !showDeposit && device === 'mobile'? 'active': ''">Withrar</span>
          </ng-container>
        </div>
        <div (click)='toggleshowExpanded(item)' *ngIf='device === "mobile"' class='i'>
          <i [ngClass]='showExpanded && item === show? "active": ""' class='arrow right'></i>
        </div>

      </section>
      <ng-container *ngIf='showExpanded && device === "mobile" && item === show'>
        <div [@dropDown] class='test'>
          <div>
            <span>Name</span>
            {{item.name}}
          </div>
          <div>
            <span>On Order</span>
            {{item.order}}
          </div>
          <div>
            <span>BTC value</span>
            {{item.btc_value}}
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf='item === show &&  device !== "mobile"'>
        <app-deposit-block [@dropDown] [selectedCurrency]='item.symbol' *ngIf='showDeposit'></app-deposit-block>
        <app-withdraw-block [@dropDown] *ngIf='!showDeposit'></app-withdraw-block>
      </ng-container>


    </ng-container>
  </main>

</div>

<!-- <div class=container>
  <main>
    <header>
      <div> Date </div>
      <div>Method</div>
      <div>Amount</div>
      <div>CDS TOKENS</div>
      <div>Status</div>
      <div>View</div>
    </header>

    <ng-container *ngFor='let item of list; let last = last ' [class.last]="last">
      <section>
        <div>asd</div>
        <div>asda</div>
        <div>asda</div>
        <div>asdad</div>
        <div>asdasd</div>
        <div>asda</div>
      </section>

    </ng-container>
  </main>
</div> -->
