@import './variables.scss';

button {
  text-align: unset;
  cursor: unset;
  color: unset;
  background-color: unset;
  box-sizing: border-box;
}

button {
  outline: none;
  -webkit-appearance: none;
  border: unset;

  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  font-size: 1rem;
  padding: 0.7em 1.3em;
  border: 2px solid #ffffff00;
  margin: 0.5em;
  &.round {
    border-radius: 10rem;
  }
  &.wide {
    padding: 0.5em 2em;
  }

  &.low {
    padding: 0.4em 1.3em;
  }

  &.primary {
    &.filled {
      &:disabled{
        background-color: gray;
        &:hover {
          background-color: gray;
          color: white;
          border-color: gray;
        }
      }
      background-color: $primary-color;
      color: white;

      &:hover {
        background-color: white;
        color: black;
        border-color: $primary-color;
      }
    }

    &.unfilled {
      background-color: white;
      color: black;
      border-color: $primary-color;

      &:hover {
        background-color: $primary-color;
        color: white;
        border-color: $primary-color;
      }
    }
  }

  &.secondary {
    &.filled {
      background-color: $secondary-color;
      color: white;

      &:hover {
        background-color: white;
        color: $secondary-color;
        border-color: $secondary-color;
      }
    }    ;

    &.unfilled {
      background-color: white;
      color: $secondary-color;
      border-color: $secondary-color;
      &.active {
        background-color: $secondary-color;
        color: white;
      }
      &:hover {
        background-color: $secondary-color;
        color: white;
      }
    }
  }
}
