.mat-form-field {
  &.mat-form-field-should-float {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-infix {
          input {
            &.mat-focused {
              border-color: red
            }
          }

          label {
            &.mat-form-field-empty {
              margin-top: 0px;
            }
          }
        }
      }


    }
  }


  .mat-form-field-wrapper {
		&.mat-focused {
			.mat-form-field-infix {
				border-color: red
			}
		}
    .mat-form-field-flex {
    

      .mat-form-field-infix {
        border: 1px solid grey;
        padding: 0.8375em;

        label {
          &.mat-form-field-empty {
            margin-top: 8px;
          }
        }
      }
    }

    .mat-form-field-label {
      margin-left: 10px;
      background: white;
      // width: auto !important;
      top: 1.69875em;
      padding: 0 5px
    }

    .mat-form-field-underline {
      background-color: #ff000000;

      .mat-form-field-ripple {
        background-color: #ff000000
      }
    }
  }
}
