// .checkbox {
//     display: block;
//     display: inline;
//     position: relative;
//     padding-left: 35px;
//     margin-bottom: 12px;
//     cursor: pointer;
//     font-size: 22px;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
  
//   }
  
//   /* Hide the browser's default checkbox */
//   .checkbox input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;
//   }
  
//   /* Create a custom checkbox */
//   .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 25px;
//     width: 25px;
//     background-color: #eee;
//     border: 1px solid red;
//     border-radius: 50%
//   }
  
//   /* On mouse-over, add a grey background color */
// //   .checkbox:hover input ~ .checkmark {
// //     // background-color: #ccc;
// //     border: 1px solid red;
// //     // border: 1px solid #85d735;
// //     // border-radius: 50%;
// //   }
  
//   /* When the checkbox is checked, add a blue background */
//   .checkbox input:checked ~ .checkmark {
//     border: 1px solid #85d735;
//     // background-color: #2196F3;
//   }
  
//   /* Create the checkmark/indicator (hidden when not checked) */
//   .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
  
//   /* Show the checkmark when checked */
//   .checkbox input:checked ~ .checkmark:after {
//     display: block;
//   } 
  
//   /* Style the checkmark/indicator */
//   .checkbox .checkmark:after {
//     left: 9px;
//     top: 5px;
//     width: 5px;
//     height: 10px;
//     border: solid #85d735;
//     border-width: 0 1px 1px 0;
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
//   }
