a {
  font-size: 1rem;
  font-weight: 500;
  //   color:  $secondary-color;
  line-height: 2rem;
  text-transform: uppercase;
  color: #b8b8b8;

  &.active {
    color: $secondary-color;
    text-decoration-color: $secondary-color;
    // transition: all 1s linear;
  }

  ;

  &:hover {
    // text-decoration-color: $secondary-color;
    color: $secondary-color;
    // transition: all 1s linear;
  }
}
