<div class='container'>
  <main   *ngIf='open'>
    <ng-content></ng-content>
   
      <button (click)='close()' class= 'primary unfilled'>Run for bone better</button>
  </main>
  <div class='image'>
    <!-- <img src="assets/img/new/dog-helper.svg" alt=""> -->
    <img src="assets/img/Support_dog.svg" alt="">
  </div>
 
  <section  *ngIf ='showTip' (click)='toggle(true)'>Need help?</section>
</div>
