@import '../../../../custom-styles/variables.scss';

main {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  max-width: 350px;
  width: 60vw;
  background:  $secondary-color;
  padding: 0 1rem;
  border-radius: 1rem;
  color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

section {
  cursor: pointer;
  position: absolute;
  -webkit-transform: translateY(-110%);
  transform: translateY(-110%);
  background:  $secondary-color;
  padding: 1rem;
  white-space: nowrap;
  color: white;
  border-radius: 5px;
  font-weight: 600;

  &::before {
    position: absolute;
    content: '';
    padding: 0.3rem;
    background: red;
    background: $secondary-color;

    z-index: -1;
    bottom: 0;
    left: 2.4rem;
    transform: translateY(50%) rotate(45deg);
  }
}
button{
  cursor: pointer;
  z-index: 3;
}
.image {
  width: 5rem;
  transform: translateY(10%);
}