<p>
  bounty-hunt works!
</p>
<button class='primary unfilled'>asdasafaf</button>
<button class='primary filled'>asdasafaf</button>
<button class='secondary filled'>asdasafaf</button>
<button class='secondary unfilled'>asdasafaf</button>

<form [formGroup]="form">
  <app-input-text formControlName='email'></app-input-text>
  <div style='display:flex  '>
    <app-input-text-label placeholder='some fucked test' formControlName='password'>

      <img class='img' src="assets/img/messengers/viber.svg" alt="">
    </app-input-text-label>
    <app-input-text-label placeholder='some fucked test' formControlName='email'>

      <img class='img' src="assets/img/messengers/whatsapp.svg" alt="">
    </app-input-text-label>
    <app-input-text-label placeholder='some fucked test' formControlName='email'>
      <img class='img' src="assets/img/messengers/wichat.svg" alt="">
    </app-input-text-label>
    <app-input-text-label placeholder='some fucked test' formControlName='email'>

      <img class='img' src="assets/img/messengers/telegram.svg" alt="">
    </app-input-text-label>
  </div>

</form>
