@import '../../../../custom-styles/variables.scss';
:host {
  display: flex;
  padding: 2rem;
}

.container {
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    app-dropdown {
        flex-grow: 1;
        min-width: 200px;
      flex-basis: 40%;
      /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); */
      margin: 0 1rem;
      border: solid 1px #ececec;
    }

    app-input-text {
        flex-grow: 1;
        min-width: 200px;
      flex-basis: 40%;
      margin: 0 1rem;

      &.text-area {
        display: flex;
        /* flex-grow: 1; */
        flex-basis: 100%;
        height: 300px;
      }
    }
    footer {
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            mat-icon {
                background:  $secondary-color;
                padding: 0.5rem;
                border-radius: 50%;
                color: white;
                margin-right: 1rem;
            }
        }
    }
  }
}

input[type='file'] {
  display: none;
}

.file-input {
  padding: 3em;
  border: dashed 1px #cecece;
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    font-size: 1.1rem;
    color: #757575;
  }
}
