<div class='container card'>
  <h1>Create Request</h1>
  <p>Donec vel ltorem posuere, ornare nulla id, lobortis lacus. Suspendisse consequat tempor tincidunt. Aliquam cursus
    mollis magna, sit amet dictum est imperdiet sit amet.</p>
  <!-- <main> -->

  <form [formGroup]="form">
    <app-dropdown>
      <ng-container header>
        Choose topic
      </ng-container>
      <ng-container body>
        <ng-container *ngFor='let topic of topicList'>
          <p>{{topic}}</p>
        </ng-container>
      </ng-container>
    </app-dropdown>
    <app-input-text placeholder='Type a title' formControlName='title'></app-input-text>
    <app-input-text class='text-area' placeholder='Please describe your problem' formControlName='text'>
    </app-input-text>
    <footer>
      <label>
        <mat-icon>attach_file</mat-icon>
        <p *ngIf='!file'>Attach file (jpeg, png, pdf)</p>
        <p *ngIf='file && file.name'>{{file.name}}</p> <input id="upload-photo" type="file" name="file"
          accept=".jpg, .png, .pdf, .jpeg" (change)="onLoadDocument($event)" />
      </label>
      <p>Some file pgn</p>
      <button class='primary filled'>Make request</button>
    </footer>

  </form>

  <!-- </main> -->
</div>
<!-- attach_file -->
