.container {

  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  align-items: flex-start;

  header {
    color: #5d6372;
  }

  ;

  main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    section {
      flex-wrap: wrap;
      display: flex;
      padding: 2rem 0;

      h3 {
        white-space: nowrap;
        margin-left: 1rem;

        span {
          color: #ffa901
        }
      }
    }

    p {
      color: #9a9da6;
      font-size: 0.9em;
    }

    div {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

    }
  }

  button {
    width: 100%;
    text-align: center
  }
}

.input {
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: solid 1px #d2d9e7;
  background-color: #ffffff;
  padding: 0.7em 0.9em;
}

.material-icons {
  font-size: 1em
}



input {
  color: #9a9da6;
  min-width: 0;

  &::placeholder {
    color: #9a9da6;
  }

  font-size: 1.1em;
  border: none;
  outline: none;
  -webkit-appearance: none
}

.label {
  border-left: 1px solid #9a9da6;
  padding-left: 1em;
}
@media only screen and (min-width: 1000px) {

.container {
  justify-content: space-evenly;
  header {
    display: flex
  }
  main {
    p {
      margin: unset;
      margin-top: 10px;
    }
    section {
      display: flex;
      flex-grow: 1;
      padding: unset;
    align-items: center;
      .input {
        height: 35px;
        padding: unset;
        width: 160px;
        padding: 0 1rem;
        display: flex;
        flex-grow: 1;
      }
    }
  }
}

 }