<div class='container card'>
  <header>Token calculator</header>
  <main>
    <p>Enter amount to calculate token.</p>
    <section>
      <div class='input'>
        <input [formControl]='formInput' type="number">
        <div class='label line-before '>TKN</div>
      </div>
      <h3>= <span> {{total.value || 0}} {{total.currency || "USD"}}</span></h3>
    </section>
  </main>
  <button *ngIf='!calculateETH' (click)='navigateToPayment($event)' class='secondary filled low'>Buy tokens</button>
  <footer>
    <mat-icon>info</mat-icon> Amount calculated based current token price
  </footer>
</div>
