<div class='container card'>
  <div class='flex'>
    <div class='avatar'>
      <img src="assets/img/new/Mask Group.svg" alt="">
    </div>
    <div>
      <div>Token balance</div>
      <div class='h'>{{totalBalance}} TKN</div>
    </div>
  </div>
  <div class='buttons'>
    <!-- <div> -->
      <a routerLink='/deposit' class='primary filled low deposit'>Buy with:

        <div class='logo-block'>
          <ng-container *ngFor='let item of currencies'>
            <img src={{item}} alt="">
          </ng-container>
        </div>
      </a>

    <!-- </div> -->

    <a  routerLink='/erc20' class='primary filled low withdraw'>Buy with ERC20: 
      <div class='logo-block erc20'>
          <!-- <ng-container *ngFor='let item of currencies'> -->
            <img src='assets/img/new/erc20.png' alt="">
          <!-- </ng-container> -->
        </div></a>
  </div>
</div>
