@import '../../../../custom-styles/variables.scss';

.container {
  color: white;
  // height: 14em;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-image: linear-gradient(to right, #fe8c46, #f9bf5f, #f9bf5f);

  .flex {
    align-items: center;
  }

  .avatar {
    margin-right: 1em;
    width: 6rem
  }

  a {
    position: relative;
    display: flex;
    font-size: 1.2rem;
    background-color: white;
    line-height: unset;
    text-transform: unset;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
    border: unset;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in;
    font-size: 1em;
    padding: 0.7em 1.3em;
    border: 2px solid #ffffff00;
    margin: 0.5em;
    color: $secondary-color;

    &:hover {
      color: white;
      background-color: $secondary-color;
    }
  }

  .h {
    font-size: 2em;
    font-weight: 600;
  }



  .buttons {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    font-size: 1rem;

    .logo-block {
      width: max-content;

    }

    img {
      // position: absolute;
      width: 1.2rem;
    }

    button {
      position: relative;
      display: flex;
      font-size: 1.2rem;

      &.deposit {
        color: #ff4f6a;
      }

      &.withdraw {
        color: $secondary-color;
      }

      background-color: white;

    }
  }


  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4f6a;
    font-size: 1rem;
    flex-basis: 30%;
    flex-grow: 1;

    &.withdraw {
      flex-direction: row;

      img {
        width: 3rem;
        padding-left: 0.5rem;
      }

    }
  }
}


@media only screen and (min-width: 1000px) {
  .container {
    .avatar {
      all: unset;
      width: 58px;
      height: 58px;
      margin-right: 18px;
    }

    .buttons {
      img {
        width: 1.2rem;
        height: 1.2rem;
        padding: 3px;
      }

      a {
        &.withdraw {
          .logo-block {
            &.erc20 {
              padding-right: 8px;
              height: 40px;
              width: 40px;

              img {
                padding: unset;
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }


    }

    a {
      all: unset;
      width: 132px;
      height: 55px;
      border-radius: 5px;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.1px;
      color: #ff4f6a;
      // padding-top: 5px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      img {
        all: unset;
        width: 16px;
        object-fit: contain;
        height: 16px;
      }



    }

    // background: red;
    // .buttons {
    //   flex-direction: column;
    //   width: fit-content;
    // }
  }
}

// @media only screen and (max-width: $screen-M) {
//   // .container {
//   //   .buttons {
//   //     flex-direction: column;
//   //     width: fit-content;
//   //   }
//   // }
// }
