@import '../../../../custom-styles/variables.scss';

:host {
  display: flex;
  width: 50vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f7f8f8;
}

.wrapper {
  justify-content: space-around;
  height: 50%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 50%;

  p {
    font-size: 32px;
    text-align: center;
    color: #808080;
  }
}
@media only screen and (max-width: $screen-M) {
 :host {
   display: none;
 }

}
