<div class='circle-square-wrapper'>
    <div class='circle-square bot left'>
        <img src="assets/img/new/circle_square.pink.svg" alt="">
      </div>
      <div class='circle-square bot right'>
        <img src="assets/img/new/circle_square.grey.svg" alt="">
      </div>
      <div class='circle-square top left'>
        <img src="assets/img/new/circle_square.orange.svg" alt="">
      </div>
</div>

<div class='wrapper'>

  <div class='content'>
    <div class='logo'>
      <img src="../../../../assets/img/new/logo_dark.png    " alt="">
    </div>
    <p>Welcome to Coin Dogs ICO,
      slogan text</p>
    <div *ngIf='mobile'>

    </div>

    <button class='primary filled' (click)='click()'>{{displayLogin? "Login" : "Get started"}}</button>
  </div>

</div>
