<!-- <div [@anime]="prepareRoute(person)" class='container'> -->
  <!-- <app-side-nav *ngIf='sideNavOpen || device === "fullscreen"' @sideNav></app-side-nav> -->
  <router-outlet #support="outlet">
  </router-outlet>
<!-- </div> -->