<div class='wrapper card' *ngIf='user'>
  <div class='header'></div>
  <div class='content'>
    <div class="form register">
      <div class='title' *ngIf='device !== "mobile"'>
        <H1>{{user.Username}}</H1>
        <div style='display:flex  '>
            <app-input-text-label placeholder='some fucked test' formControlName='password'>
        
              <img class='img' src="assets/img/messengers/viber.svg" alt="">
            </app-input-text-label>
            <app-input-text-label placeholder='some fucked test' formControlName='email'>
        
              <img class='img' src="assets/img/messengers/whatsapp.svg" alt="">
            </app-input-text-label>
            <app-input-text-label placeholder='some fucked test' formControlName='email'>
        
              <img class='img' src="assets/img/messengers/wichat.svg" alt="">
            </app-input-text-label>
            <app-input-text-label placeholder='some fucked test' formControlName='email'>
        
              <img class='img' src="assets/img/messengers/telegram.svg" alt="">
            </app-input-text-label>
          </div>
      </div>
      <form [formGroup]="form" (ngSubmit)='updateUserParams()'>
        <div (click)='openAvatarSelectDialog()' class='avatar'>
            <img src="assets/img/avatars/avatar-1.svg" alt="">
          <!-- <img src={{user.AvatarUrl}} alt="no inmg"> -->
          <div class='plus'>+</div>
        </div>
        <H1 *ngIf='device === "mobile"'>{{user.Username}}</H1>
        <!-- <div class="btn-toolbar" *ngIf='device === "mobile"'>
          <div>
            <button *ngFor="let mess of userMessengers" class="mess" (click)="showMessengerValue(mess)"
              [ngClass]="{ active: showInput && selectedMessenger.name == mess.name }">
              <img [src]="mess.img" />
            </button>
          </div>

          <div class="input-group" *ngIf="showInput">
            <div class="input-group-prepend">
              <div class="input-group-text"><img [src]="selectedMessenger?.img" /></div>
            </div>
            <input class="form-control" #input placeholder="{{ 'Enter your ' + selectedMessenger?.name }}" type="text"
              [value]="selectedMessenger.value" (blur)="updateMessengers($event.target.value)"
              (keydown.enter)="updateMessengers($event.target.value)" />
          </div>
        </div> -->
        <div class='test' style='display: flex;
        flex-wrap: wrap;'>
          <!-- avatar: new FormControl(1),
          username: new FormControl('', [Validators.required, Validators.minLength(2)]),
          phoneNumber:  -->
          <!-- <app-input-text placeholder='username' formControlName="username"></app-input-text> -->
          <mat-radio-group formControlName="male" aria-label="Select an option">
            <mat-radio-button value=true>Male</mat-radio-button>
            <mat-radio-button value=false>Female</mat-radio-button>
          </mat-radio-group>
          <app-input-text placeholder='name' formControlName="firstName"></app-input-text>
          <app-input-text placeholder='surname' formControlName="lastName"></app-input-text>
          <app-input-text placeholder='phoneNumber' formControlName="phoneNumber"></app-input-text>
          <app-input-text [Datepicker]='"true"' placeholder='birthday' formControlName="birthday"></app-input-text>
          <!-- <app-input-text placeholder='phone' formControlName="phone"></app-input-text>
          <app-input-text placeholder='city' formControlName="city"></app-input-text>
          <app-input-text placeholder='adress' formControlName="adress"></app-input-text> -->
          
          <mat-form-field>
            <mat-label>country</mat-label>
            <mat-select formControlName="state">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
            </mat-select>
          </mat-form-field>
          <app-input-text placeholder='email' formControlName="email"></app-input-text>
     
        </div>

        <button type='submit' class='filled primary'>Save changes</button>
      </form>
    </div>


  </div>
</div>
