@import '../../../../custom-styles/variables.scss';
:host {
  width: 100%;

}

app-input-text {
  flex-grow: 1;

  flex-basis: 45%;

  padding: 0 0.5rem;
}

app-input-text-label {
  max-width: 200px
}

.img {
  width: auto;
  height: 100%;
  height: -webkit-fill-available;
  position: relative;
}

.wrapper {
  padding: 4vw;
  background-color: #f8f8f9;

  .title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .input-group {
      width: auto;
      background-color: rgba(196, 196, 196, 0.01);
      border: 1px solid #dbdbdb;

      img {
        margin: 0px 8px;
      }

      input {
        border: 0;
        /* border-radius: 0; */
        background: transparent;
        border: 0;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #757575;
        padding: 9px 8px 8px;
      }
    }

    div {
      display: flex
    }
  }
}

form {
  background: white;
  padding: 5vw 5vw;
  padding-top: 10vw;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

  .title {
    display: flex;
    width: 100%
  }

  ;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    box-sizing: border-box;
  }

  .text {
    margin: 10px;
    border: 1px solid #b6b6b6;
    padding: 15px 20px;
    font-size: 18px;
    width: 100%;
  }

  .double {
    width: 100%;
    display: flex;
  }

  .single {
    width: 100%;
    display: flex;
  }
}

.form {
  width: 100%;

}

h1 {
  font-family: Montserrat, sans-serif;
  // font-size: 38px;
  font-weight: 500;
  margin-left: 10px;

}

.messages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;


}

button {
  margin-top: 20px;

  &.mess {
    border: solid 1px #a5d8a5;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: unset;
    cursor: pointer;
    width: 2.5rem;
    background: none;
    height: 2.5rem;

    margin: 0.5rem;
    cursor: pointer;

    background: none;



  }

  &:hover {
    // border: none
  }

}

mat-form-field {
  flex-basis: 45%;
  display: flex;
  flex-grow: 1;
  padding:0 0.5rem;

}

mat-radio-group {
  display: flex;
  padding: 1rem;
  
  flex-basis: 100%;
  justify-content: space-evenly;
  flex-grow: 1;
}

// mat-form-field-label ng-tns-c11-3 mat-empty mat-form-field-empty ng-star-inserted
label {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  align-items: center;

  &.mat-form-field-label {
    margin: 0 !important;
  }

  // &:nth-last-child() {
  //   flex-basis: 100%;
  // }
}

.test:nth-last-child() {
  flex-basis: 100%;
}

label span {
  // display: inline-block;
  // text-align: left;
  text-align: left;
  min-width: 4rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

form {
  position: relative;
}

.plus {
  font-weight: bolder;
  // display: none;
  opacity: 0;
  top: 0;
  font-size: 6rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: $secondary-color;
  transition: opacity 1s ease-in;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.avatar {
  cursor: pointer;
  background: inherit;

  img {
    transition: all 1s ease-in;
  }

  &:hover {
    img {
      filter: saturate(0.1);
      opacity: 0.7;
    }

    .plus {
      opacity: 1;
    }
  }

  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 0;
  /* margin-bottom: -3rem; */
  width: 6vw;
  min-height: 50px;
  min-height: 80px;
  min-width: 80px;
  height: 10vw;
  width: 10vw;



  img {
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.75);
    height: 100%;

    border-radius: 50%;
  }
}

// padding-top: 8rem;
@media only screen and (max-width: $screen-M) {
  .wrapper {
    padding-top: 8rem;
  }
}
