<div *ngIf='user' class='container card'>
  <div class='header'>
    <div class='avatar'>
      <!-- <img src={{user.AvatarUrl}} alt="no inmg"> -->
      <img src="assets/img/avatars/avatar-1.svg" alt="">
    </div>
    <h1>{{user.Username}}</h1>
    <!-- <label>Deposits: <span>0.123454 BTC</span> </label> -->
    <button routerLink="/profile" class='secondary low filled'>Edit my profile </button>
    <!-- <button></button> -->
    <!-- <a href="https://dev.coindogs.co/Settings">Edit my profile</a> -->
    
  </div>
</div>
