@import '../../../../custom-styles//variables.scss';
.container {
  display: flex;
  flex-direction: column;
  //   width: 100%;

  .header {
    padding: 3em 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 500;
    }

    .avatar {
      position: relative;

      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    label {
      span {
        color: green
      }
    }
  }


}

.material-icons {
  font-size: 22px;
  vertical-align: sub;
}

a {

  outline: none;
  -webkit-appearance: none;
  border: unset;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
  font-size: 1rem;
  padding: 0.1em 1.3em;
  border: 2px solid #ffffff00;
  margin: 0.5em;
  text-decoration: none;
  text-transform: unset;
  background: $secondary-color;
  color: white;
  font-size: 1.2rem;
}
@media only screen and (min-width: 1000px) {
  .container {
    padding: unset;
    justify-content: space-evenly;
    .header  {
      padding: unset;
     
      h1 {
        margin: unset;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5d6372;
      }
    }
  }
}