@import '../../../../custom-styles/variables.scss';

:host {
  padding: 1rem;
  width: 250px;
  box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 0.75);
  height: -webkit-fill-available;
  left: 0;
  position: absolute;
  background: white;
  z-index: 2;
  font-size: 16px;
}

.links {

  &-primary {
    a {
      font-size: 1em;
      line-height: 2em;
      color: #b8b8b8;
      text-transform: uppercase;

      &.active {
        color:  $secondary-color
      }

      &:hover {
        text-decoration-color:  $secondary-color
      }
    }
  }

  &-personal {
    button {
      display: flex;
      align-items: center;

      .mat-icon {
        margin-right: 0.7rem;
      }
    }
  }
}
