<app-dropdown class="links-primary">
  <ng-container header>Main</ng-container>
  <!-- <a routerLink="/dashboard" routerLinkActive='active'>Dashboard</a>
  <a routerLink="/deposit" routerLinkActive='active'>buy cds token</a>
  <a routerLink="/profile" routerLinkActive='active'>my profile</a>
  <a routerLink="transactions" routerLinkActive='active'>transactions</a>

  <a routerLink="/support" routerLinkActive='active'>support</a> -->
  <ng-container body>
    <a routerLink="/dashboard" routerLinkActive='active'>Dashboard</a>
    <a routerLink="/deposit" routerLinkActive='active'>buy cds token</a>
    <a routerLink="/profile" routerLinkActive='active'>my profile</a>
    <a routerLink="transactions" routerLinkActive='active'>transactions</a>
    <a routerLink="/support" routerLinkActive='active'>support</a>
    <!-- <a routerLink="/profile" routerLinkActive='active'> Profile</a>
    <a routerLink="/dashboard" routerLinkActive='active'>Dashboard</a>
    <a routerLink="/auth" routerLinkActive='active'>race track</a>
    <a routerLink="/action" routerLinkActive='active'>action</a>
    <a routerLink="/market" routerLinkActive='active'>market</a>
    <a routerLink="/bounty" routerLinkActive='active'>bounty hunt</a>
    <a routerLink="/faq" routerLinkActive='active'>faq</a>
    <a routerLink="/deposit" routerLinkActive='active'>deposit</a> -->
  </ng-container>
</app-dropdown>

<app-dropdown class="links-personal">
  <ng-container header>Prifile</ng-container>
  <ng-container body>
    <button class='secondary low round unfilled' routerLink="/profile/profile"
      routerLinkActive='active secondary filled'>
      <mat-icon>account_box</mat-icon>
      My Profile
    </button>
    <button class='secondary low round unfilled' routerLink="/profile/tf" routerLinkActive='active secondary filled'>
      <mat-icon>dashboard</mat-icon> Two-factor authontification
    </button>

    <button class='secondary low round unfilled' routerLink="/profile/document"
      routerLinkActive='active secondary filled'>
      <mat-icon>note</mat-icon> KYC
    </button>

    <!-- <button class='secondary low round unfilled' routerLink="/profile/old_request"
      routerLinkActive='active secondary filled'>
      <mat-icon>attach_money</mat-icon> Balances OLD REQUEST
    </button>
    <button class='secondary low round unfilled' routerLink="/profile/balance"
      routerLinkActive='active secondary filled'>
      <mat-icon>attach_money</mat-icon> Balances
    </button> -->
    <button (click)='logout()' class='secondary low round unfilled'>
      <mat-icon>input</mat-icon> Logout
    </button>

  </ng-container>
</app-dropdown>
