<header (click)='toggle()'>
  <ng-content select="[header]"></ng-content>
  <i class='arrow right'></i>
</header>

<main [ngClass]="{'absolute': absolute, right: direction === 'fromRight'}" [@dropDown] *ngIf='open'>
  <ng-content select="[body]"></ng-content>
</main>
