:host {
  position: relative;
  width: inherit;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  line-height: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #4d4d4d;
  cursor: pointer;
}

main {
  font-size: 1em;
  line-height: 2em;
  display: flex;
  flex-direction: column;

  &.absolute {
    left:0;
    width: inherit;
    position: absolute;
    padding: 0 1rem;
    border: 1px solid;
  }
}
