<a  href='https://dev.coindogs.co/ParentSelection'  class='container card'>
  <header>TEST YOUR PRODUCT?</header>
  <div class='image'>
    <img src="assets/img/new/test.svg" alt="">
  </div>
  <button>GET YOUR DOG NOW</button>
</a>
<!-- https://dev.coindogs.co/Content/CoinDogs-ICO-WhitePaper.pdf -->
<!-- https://dev.coindogs.co/Faq -->