// :host{
//   flex-basis: 30%;

// }
.container {
  padding: 1em;
  //   height: 12em;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffdcb4;
  align-items: center;

  header {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    color: #ff6c0a;
  }

  button {
    color: white;
    font-weight: 800;
    padding: 0.5em;
    border-radius: 0;
    // height: 2.5em;
    text-align: center;
    background-color: #3f9ce0;
    transform: skew(-5deg);
    // bottom: 2.5em;
    // position: relative;
    margin: 0;
  }

}

.image {
  transform: translateY(2em);
  width: 100%;
  max-width: 130px;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
}
header {
  white-space: unset;
}
@media only screen and (min-width: 1200px) {
  .container {
      header {
        white-space: nowrap;
      }
    button {
      position: absolute;
      bottom: 10px;
    }
    .image {
      all: unset;

     

      img {
        width: 99px;
        height: 182px;
      }
    }
  }
}
