<!-- <div class="incard">
  <h3 class='title'>
    {{action.name}}
    <ng-container *ngIf="isActionFrom">
      from
      <input type="number" step="0.001" placeholder="0" [(ngModel)]="setttingActionFrom"
        [disabled]="settings?.state === 1 || settings?.state === 2" />
      BTC
    </ng-container>
    <i [matTooltipPosition]='"above"'
      matTooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, iusto fuga commodi nulla quae praesentium? Ad dolorum aperiam, rem id dolor corporis recusandae temporibus ratione facere odit repellat voluptate sequi!"
      class="material-icons">help</i>
  </h3>
  <div class='flex'>

    <ng-container *ngFor="let method of methods">

      <button class='unfilled' type="button" class="unfilled" (click)="update2fa(method.type)"
        *ngIf="method.status === 1">
        {{ method?.type }}
      </button>
    </ng-container>
  </div>
</div> -->
<div class='container card'>
<header>
  {{action.name}}

  <!-- <i [matTooltipPosition]='"above"'
    matTooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, iusto fuga commodi nulla quae praesentium? Ad dolorum aperiam, rem id dolor corporis recusandae temporibus ratione facere odit repellat voluptate sequi!"
    class="material-icons">help</i> -->
    <ng-container *ngIf="isActionFrom">
      from
      <input type="number" step="0.001" placeholder="0" />
      <!-- <input type="number" step="0.001" placeholder="0" 
        [(ngModel)]="setttingActionFrom"
          [disabled]="settings?.state === 1 || settings?.state === 2" 
          /> -->
      BTC
    </ng-container>
    <mat-icon [matTooltipPosition]='"above"'
    matTooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, iusto fuga commodi nulla quae praesentium? Ad dolorum aperiam, rem id dolor corporis recusandae temporibus ratione facere odit repellat voluptate sequi!">
    help</mat-icon>
</header>

<footer>
  <ng-container *ngFor="let method of methods">


    <button class='primary unfilled low' type="button" (click)="update2fa(method.type)"
      *ngIf="method.status === 1">
      {{ method?.type }}
    </button>
  </ng-container>
</footer>

</div>
