:host {
  padding: 1em;
  flex-grow: 1;
  flex-basis: 40%;
}

.card {
  box-shadow: 0 2px 5px 0 black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 12rem;
  padding: 2rem 1rem;

  header {
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    mat-icon {
      color: #ff4f6a;
      display: flex;
      align-items: center;
      margin-left: 0.5rem;
    }

    input {
      padding: 0.5rem;
      width: 3rem;
      margin: 0 1rem
    }
  }

  footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
