@import '../../../../custom-styles/variables.scss';

:host {
  position: fixed;
  right: 0;
  z-index: 4;
  top: 0;
}

.errorCard {
  position: relative;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  margin: 0.5rem;
  border: 2px solid #ffffff00;
  background: white;

  &.error {
    border-color: $primary-color;
  }

  &.warn {
    border-color: $secondary-color;
  }

  &.success {
    border-color: #64a066;
  }


}

mat-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
