<div>
  <ng-container *ngFor='let item of errorList; let index = index'>
    <div [@float] [ngClass]='item.status === 1 && "error" || item.status === 2 && "warn" || item.status ===3 && "success"'
      class='errorCard'>
      <mat-icon (click)='deleteCard(index)'>transit_enterexit</mat-icon>
      <p>{{(item.status === 1 && "error" || item.status === 2 && "warn" || item.status ===3 && "success")}}</p>
      <p>{{item.text}}</p>
    </div>
  </ng-container>

</div>
