.avatar {
  display: flex;
  cursor: pointer;
  border: 2px solid #00000000;
  transition: all linear 400ms;
  border-radius: 50%;
  &:hover {
    border: 2px solid black;
    border-radius: 50%;
  }


}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
