<div mat-dialog-content>
  <div class='container'>
    <ng-container *ngFor=' let item of avatarList'>
      <div (click)="onNoClick(item)" class=' avatar'>
        <img src={{item.url}} alt="">
      </div>

    </ng-container>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Leave what i have</button>

</div>
