<div class='container'>
  <header>
    <h2>KYF for verification</h2>
  </header>
  <section>
    <!-- <p>Ut sed varius tellus. Integer cursus lacus nunc, et lobortis tellus malesuada vel. Vestibulum sed maximus lorem.
      Quisque varius ornare felis, eget sollicitudin tortor commodo consectetur. Quisque molestie eu ex in mollis.
      Vivamus
      posuere tortor enim, ut lacinia orci tristique quis. Donec vitae pellentesque diam.</p> -->
    <ul>
      <p>Ut sed varius tellus. Integer cursus lacus nunc, et lobortis tellus malesuada vel. Vestibulum sed maximus
        lorem.
        Quisque varius ornare felis, eget sollicitudin tortor commodo consectetur. Quisque molestie eu ex in mollis.
        Vivamus
        posuere tortor enim, ut lacinia orci tristique quis. Donec vitae pellentesque diam.</p>
      <li>Aenean fermentum gravida eros at finibus</li>
      <li>Quisque dapibus nulla quis</li>
      <li>Praesent cursus tincidunt risus, et placerat urna fermentum tincidunt</li>
      <li>Suspendisse eget enim et enim rutrum pulvinar</li>
    </ul>
  </section>
  <main>
    <app-document-card *ngFor='let document of userDocuments' [file]='document'></app-document-card>
  </main>
  <!-- <footer>Comment: Nullam velit est, lobortis finibus dui quis, semper maximus ante.</footer> -->
</div>
