:host {
  font-size: 16px;
}
.container {
  display: flex;
  flex-direction: column;

}
header{
  display: flex;
justify-content: space-around;
  h2{
    font-weight: 500;
  
    color: #292929;
  }
}
ul{
  color: #757575;
}
input[type='file'] {
  display: none;
}
main{
  display: flex;
  flex-wrap: wrap
}
.file-input {
  padding: 3em;
  border: dashed 1px #cecece;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p{
   
    font-size: 1.1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #757575;
  }
}

