@import '../../../../../custom-styles/variables.scss';

:host {
  display: flex;
  padding: 2rem 0;
  border-bottom: 2px dashed #c5c5ca;
}

p {
  // color: black;
  max-width: 600px;
}

.container {
  flex-direction: column;

  header {
    display: flex;

    .avatar {
      margin-right: 1rem;
      width: 5rem;
      height: 5rem;

      img {
        height: 100%;
        border-radius: 100%
      }
    }

    section {


      .title {
        color: #292929;
      }

      color: #757575;
    }


  }

}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #d89811;
  ;

  mat-icon {
    background:  $secondary-color;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    margin-right: 1rem;
  }
}
