<div class='container'>
  <header>
    <div class='avatar'>
      <img src={{chatItem.owner.avatar}} alt="no avatar">
    </div>
    <section>
      <p class='title'>{{chatItem.owner.name}}</p>
      <p>{{chatItem.date | date}}</p>
    </section>
  </header>
  <p>{{chatItem.text}}</p>
  <footer *ngIf='chatItem.file'>
    <label>
      <mat-icon>attach_file</mat-icon>
      <p>{{chatItem.file.name}}</p>
    </label>

  </footer>
</div>
