@import '../../../../custom-styles/variables.scss';
:host {
  display: flex;
  padding: 2rem;
}

h1 {
  margin: auto;
  padding: 1rem;
}

.container {
  flex-direction: column;
  align-items: stretch;

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // width: 100%;

    app-dropdown {
      flex-basis: 20%;
      min-width: 200px;
    }
  }



  main {
    display: grid;
    grid-template-columns: repeat(2, min-content) auto repeat(3, min-content);
    width: 100%;
    padding: 2rem;

    .grid-header {
      font-weight: 600;

      line-height: normal;
      color: #292929;
      border-top: 2px solid  $secondary-color;
      text-transform: uppercase;
    }

    .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis
    }

    div {
      cursor: pointer;
      padding: 0.5rem;
      white-space: nowrap;
      //   padding: 0.5rem
    }
  }

  a {
    outline: none;
  }

  //   main {

  //     section {
  //       display: grid;
  //       grid-template-columns: auto auto auto auto auto auto;
  //       align-items: center;

  //       .text {
  //         text-overflow: ellipsis;
  //         white-space: nowrap;
  //         overflow: hidden;
  //       }

  //       div {
  //         padding: 1rem;
  //       }

  //       &:not(.last) {
  //         border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //       }
  //     }

  //     header {
  //       @extend section;
  //       line-height: 2rem;

  //       font-weight: 600;
  //       color: #292929;
  //       align-items: center;
  //     }
  //   }

  //   main {
  //     width: 100%;
  //     display: grid;
  //     grid-template-columns: auto auto auto auto auto auto;
  // div {
  //     padding: 1rem
  // }
  // .text {
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  //   overflow: hidden;
  // }
  //   }
}
