<div class='container'>
  <h1>Oldest requests</h1>
  <form [formGroup]='form'>
    <app-dropdown>
      <ng-container header>
        Any Status
      </ng-container>
      <ng-container body>
        asdasd
        asdasd
        asdasd
      </ng-container>
    </app-dropdown>
    <app-input-text formControlName='search'></app-input-text>
  </form>

  <main class="card">
    <ng-container class="test">
      <div class='grid-header'>Request id</div>
      <div class='grid-header'>Topic</div>
      <div class='grid-header'>Title</div>
      <div class='grid-header'>create date</div>
      <div class='grid-header'>last update</div>
      <div class='grid-header'> status</div>
    </ng-container>

    <ng-container *ngFor='let request of requestList'>
      <div routerLink ='/support/supprt_chat'>{{request.id}}</div>
      <div  routerLink ='/support/supprt_chat'>{{request.topic}}</div>
      <div  routerLink ='/support/supprt_chat' class='text'>{{request.title}}</div>
      <div  routerLink ='/support/supprt_chat'>{{request.date | date: 'yyyy-MM-dd'}}</div>
      <div  routerLink ='/support/supprt_chat'>{{request.lastUpdate | date: 'yyyy-MM-dd'}}</div>
      <div  routerLink ='/support/supprt_chat'>{{request.status}}</div>

    </ng-container>

  </main>
</div>
