<div class='container' *ngIf='payment'>
  <section class='flex-column card describe'>
    <div>
      <p>Please Pay {{payment.amount}} {{payment.currency}} to the address below. (Make shure you pay this amount of
        network/exchanges fees)</p>
      <p>{{payment.currency}} Address <span style='    font-weight: 600;'>{{configWallet}}</span> </p>
      <form [formGroup]="form">
        <app-input-text placeholder='Your wallet' formControlName="wallet"></app-input-text>
      </form>
      <p>You can use either the Bar code on the right or by cutting and pasting the address into the requested sending
        field of your Exchange or Personal Wallet when transferring.</p>
      <p>After processed your transaction, click on “I have paid, credit my CDS Tokens” button to submit your order and
        get your Tokens.</p>
    </div>
    <!-- <button class='primary filled'>I have paid, credit my CDS Tokens</button> -->
  </section>

  <main class='flex-column-center card'>
    <header>
      <a routerLink="/deposit" routerLinkActive='active'>Choose amount</a>
      <a routerLink="/payment-detail" routerLinkActive='active'>Process payment</a>
    </header>
    <section class="payment-detail">
      <div>
        <p>Pay</p>
        <p class='marked'>{{payment.amount}} {{payment.currency}}</p>
        <p>= {{payment.cdsToken}} CDS Tokens</p>
      </div>
    </section>
    <ng-container>
      <section class='qrCode'>
        <div class='qr line-before line-after'>
          <!-- <img src={{payment.qrImg}} alt=""> -->
          <img src={{qrImg}} alt="">
        </div>
      </section>
      <footer>
        <p style='color: black'>Pay {{payment.currency}} with this adress</p>
        <div class='input'>
          <input style='width: 100%;' [value]=payment.addressTo type="text">
          <div (click)='copy()' class='label'>{{(copied? "Copied": "copy")}}</div>
        </div>
        <button *ngIf='payment.status === -1 ' (click)='sendTransaction($event)' class='primary filled'>I have paid,
          credit
          my CDS Tokens</button>
        <!-- <button *ngIf='!form.valid' (click)='sendTransaction($event)' class='primary filled'>Enter Wallet First</button> -->
      </footer>
    </ng-container>
    <!-- <ng-container *ngIf='!form.valid'>
      <footer>

        <button class='primary filled'>Enter Wallet First</button>
      </footer>
    </ng-container> -->
  </main>
  <div *ngIf='dogHelperOpen' class='dog-helper'>
    <app-dog-helper (closeHelper)='close($event)'>
      <ol>
        <li>Some text</li>
      </ol>
    </app-dog-helper>
  </div>
</div>
