@import '../../../custom-styles/variables.scss';
:host {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
}


.dog-helper {
  position: fixed;
  bottom: 5%;
  left: 0;

  transform: translate(100%, -50%);
}
.container {
  padding: 1rem;

  section {
    &.describe {
      height: min-content;
      padding: 2rem;

      div {
        border-left: 2px solid  $secondary-color;
        padding-left: 1em;
      }

      // button {
      //   margin: auto;
      //   display: block;
      // }
    }

  }

  main {
    header {
      margin: 2em;
      display: flex;
      justify-content: center;

      a {
        white-space: nowrap;
        cursor: pointer;

        &.active {
          color: #ffa901;
          text-decoration: underline;
        }

        margin: 0 1em;
        font-size: 1.4em;
        color: #9c9c9c
      }
    }

    section {
      &.payment-detail {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: space-around;
      }

      &.qrCode {
        display: flex;
        justify-content: space-around;

        div {
          width: 200px
        }
      }

      p {
        color: #949494
      }

      .marked {
        font-weight: 600;
        color: $secondary-color;
      }
    }

    footer {
      p {
        text-align: center;
        font-weight: 600;
      }

      button {
        margin: 1.5rem auto;
        display: block;
      }
    }
  }
}



@media only screen and (max-width: $screen-M) {
  .container {
    flex-direction: column;
  }
}


// THIS SHOLD BE IN GLOBAL



.input {
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: solid 1px #d2d9e7;
  background-color: #ffffff;
  padding: 0.7em 0.9em;
}

input {
  color: #9a9da6;

  &::placeholder {
    color: #9a9da6;
  }

  font-size: 1.1em;
  border: none;
  outline: none;
  -webkit-appearance: none
}

.input {
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: solid 1px #d2d9e7;
  background-color: #ffffff;
  padding: 0.7em 0.9em;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #9a9da6;

  &::before {
    position: relative;
    content: '';

    height: 1.8em;

    right: 0.5em;
    width: 1px;

    background: #d2d9e7;

  }
}

.input {
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: solid 1px #d2d9e7;
  background-color: #ffffff;
  padding: 0.7em 0.9em;
}

input {
  color: #9a9da6;

  &::placeholder {
    color: #9a9da6;
    width: auto;
  }

  font-size: 1.1em;
  border: none;
  outline: none;
  -webkit-appearance: none
}
