<app-header></app-header>
<app-side-nav [@sideNav] *ngIf='device !== "fullscreen" && viewOptions.sideNav'></app-side-nav>
<div [@routeAnimations]="prepareRoute(main)">
  <router-outlet #main="outlet"></router-outlet>
</div>
<app-footer></app-footer>
<app-floating-notification></app-floating-notification>
