marquee {
  background-color: #ffad01;
  // height: 25px;
  display: inline-flex; 
  padding: 5px 0px;
  align-items: center;
}
.flex{
    display: flex
}
.text{
  padding: 0px 10px
}
app-footer {
  position: fixed;
    bottom: 0;
    background: white;
    width: 98%;
    height: 3rem;
    /* margin: 0 3rem; */
    /* padding: 0 3rem; */
    align-items: center;
    border-top: 2px solid #d2d9e7;
}
div {
  padding-bottom: 3rem;
  // padding-top: 7rem;

}