<div class ='container'>
  <header>Create Request</header>
<p>Donec vel ltorem posuere, ornare nulla id, lobortis lacus. Suspendisse consequat tempor tincidunt. Aliquam cursus mollis magna, sit amet dictum est imperdiet sit amet.</p>
<main>
  <app-dropdown [absolute]='true' [direction]='"fromRight"' class="links-personal">
    <ng-container header>Choose topic</ng-container>
    <ng-container body>
     <p>Topic</p>
     <p>Topic</p>
     <p>Topic</p>
     <p>Topic</p> 
     <p>Topic</p>
     <p>Topic</p>
    </ng-container>
  </app-dropdown>
</main>
</div>