@import '../../../../custom-styles/variables.scss';

:host {
  display: flex;
  overflow: hidden;
  position: relative;
}
mat-form-field {
 
  display: flex;
  flex-grow: 1;
  padding:0 1rem;

}
.container {
  display: flex;
  width: 100%;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    justify-content: center;

    main {
      /* flex-direction: column; */
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      app-input-text {
        &:nth-child(3n+3) {
          flex-basis: 100%;
        }

        ;
        flex-basis: 40%;
        flex-grow: 1;
        padding: 0 1rem;
        min-width: 200px
      }
    }
  }
}

.circle-square-wrapper {
  display: none;
}

.logo {
  display: none;
  margin: auto;
  width: 60%;
}

footer {
  display: none;
  font-size: 16px;

  span {
    color: $secondary-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

@media only screen and (max-width: $screen-M) {
  :host {
    background: #f7f8f8
  }

  footer {
    display: unset;
  }

  h1 {
    display: none;
  }

  .logo {
    display: block
  }

  .circle-square-wrapper {
    display: unset
  }
}
