<!-- <div class='circle-square-wrapper'>
  <div class='circle-square bot left'>
    <img src="assets/img/new/circle_square.pink.svg" alt="">
  </div>
  <div class='circle-square bot right'>
    <img src="assets/img/new/circle_square.grey.svg" alt="">
  </div>
  <div class='circle-square top left'>
    <img src="assets/img/new/circle_square.orange.svg" alt="">
  </div>
</div> -->
<div class="container">

  <form [formGroup]="form">

    <header class='title'>
      <H1>Registration</H1>
      <div class='logo'>
        <img src="../../../../assets/img/new/logo_dark.png    " alt="">
      </div>
    </header>
    <main class='input-wrapper'>

      <app-input-text placeholder='username' formControlName="username"></app-input-text>
   
      <app-input-text placeholder='email' formControlName="email"></app-input-text>
      <app-input-text placeholder='phoneNumber' formControlName="phoneNumber"></app-input-text>
     
      <app-input-text [password]='true' placeholder='password' formControlName="password"></app-input-text>
      <app-input-text [password]='true' placeholder='confirmPass' formControlName="confirmPass"></app-input-text>
      <mat-form-field>
          <mat-label>country</mat-label>
          <mat-select formControlName="state">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
      <!-- <app-input-text placeholder='confirmPass' formControlName="confirmPass"></app-input-text>
        <app-input-text placeholder='country' formControlName="country"></app-input-text>
        <app-input-text placeholder='city' formControlName="city"></app-input-text>
        <app-input-text placeholder='phone' formControlName="phone"></app-input-text> -->
      <!-- <app-input-text placeholder='firstName' formControlName="firstName"></app-input-text>
      <app-input-text placeholder='lastName' formControlName="lastName"></app-input-text>
      <app-input-text placeholder='email' formControlName="email"></app-input-text>
      <app-input-text placeholder='password' formControlName="password"></app-input-text>
      <app-input-text placeholder='confirmPass' formControlName="confirmPass"></app-input-text>
      <app-input-text placeholder='country' formControlName="country"></app-input-text>
      <app-input-text placeholder='city' formControlName="city"></app-input-text>
      <app-input-text placeholder='phone' formControlName="phone"></app-input-text> -->
      <!-- <div class='input-container' class='input-container'><input class='text' type="text" formControlName="firstName"
          placeholder="FirstName"></div>
      <div class='input-container'> <input class='text' type="text" formControlName="lastName" placeholder="lastName">
      </div>
      <div class='input-container'> <input class='text' type="text" formControlName="email" placeholder="email"></div>
      <div class='input-container'> <input class='text' type="text" formControlName="password" placeholder="password">
      </div>
      <div class='input-container'> <input class='text' type="text" formControlName="confirmPass"
          placeholder="confirmPass"></div>
      <div class='input-container'> <input class='text' type="text" formControlName="country" placeholder="country">
      </div>
      <div class='input-container'> <input class='text' type="text" formControlName="city" placeholder="city"></div>
      <div class='input-container'> <input class='text' type="text" formControlName="phone" placeholder="phone"></div>
      <div class='messages'>
        <div>
          <mat-checkbox class="example-margin">Remmember me</mat-checkbox>
        </div>
        <div>
          <a href="#">Forgot passwor?</a>
        </div>
      </div> -->
    </main>
    <button (click)='register()' class='primary filled'>Register</button>
    <footer>
      Already have account? <span (click)='toggleToLogin()'>Sign In</span>
    </footer>
  </form>
</div>
