<!-- <footer> -->
  <div>Created by Eqvola</div>
  <div class='icon-container'>
    <div class='icon'>
      <a>
        <img src="assets/img/new/linkedin.svg" />
      </a>
    </div>
    <div class='icon'>
      <a>
        <img src="assets/img/new/instagram.jpg" />
      </a>
    </div>
    <div class='icon'>
      <a>
        <img src="assets/img/new/facebook.jpg" />
      </a>
    </div>
  </div>
  <div>Copyright Coindogs</div>

<!-- </footer> -->
