:host {
  flex-basis: 45%;
  padding: 1em;
}

.marked {
  font-weight: 600;
  color: #747474;
}

.tooltip {
  background: #eeba00
}

.verified {
  text-align: center;

  span {
    font-size: 1.2rem;

    color: #5cbd84;
  }
}

.marker {
  filter: blur(2px);
  height: 0.8rem;
  width: 0.8rem;
  background: red;
  border-radius: 50%;
  margin-left: 1rem;
}

:host {
  flex-grow: 1
}

main {
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  border: dashed 1px #cecece;
  background-color: #fdfdfd;
}

.container {
  display: flex;
  flex-direction: column;

  header {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center
  }
}

input[type='file'] {
  display: none;
}

.file-input {
  padding: 3em;
  border: dashed 1px #cecece;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    font-size: 1.1rem;
    color: #757575;
  }
}
