<div class="container card">

  <!-- <header>{{file.documentTitle}} <div matTooltip="Info about the action" 
    matTooltipClass="example-tooltip-red"
    matTooltipPosition='above' class='marker'
      [ngStyle]=" file.status === 'varified' && {'background':'#5cbd84'} 
      || file.status === 'inProgress' && {'background':'#eeba00'}
      || file.status === 'rejected' && {'background':'#ec6c6d'}
      || file.status === 'empty' && {'background':'unset'} || ''"
      ></div>
  </header> -->
  <header>{{file.documentTitle}} <div matTooltip="Info about the action"></div>
  </header>
  <section>
    <p *ngIf='file.lastUpdate'>Last update: <span class='marked'> {{(file.lastUpdate) | date}}</span></p>
    <p>{{file.description}}</p>
  </section>
  <main>

    <div>
      <label *ngIf='!file.fileName || file.status === "rejected"'>
        <p>+ Add identification document</p> <input id="upload-photo" type="file" name="file"
          accept=".jpg, .png, .pdf, .jpeg" (change)="onLoadDocument($event)" />
      </label>
      <p *ngIf='file.fileName && file.status === "inProgress" '>{{file.fileName}}</p>

      <p *ngIf='file.status === "varified"' class='verified'> <span>Already approved</span> <br> if you want to change
        document please
        contact support</p>
    </div>

  </main>
  <footer *ngIf='file.status === "varified" || file.status === "rejected"'>
    <p> <span class='marked'>Comment:</span> {{file.comment}}</p>

  </footer>
</div>
