<div (click)='test()' (mouseenter)='hover= true' (mouseleave)='mouseLeave()' [ngClass]='active?"active": ""'
  class='wrapper'>
  <div class='container' style='margin:auto'>
      <svg class="c-1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path [ngClass]='hover?"active": ""' class="test" d="M0 2 C -70 0, -70 100, 0 98" stroke="black"
          fill="transparent" stroke-width="4" />
      </svg>
    <div class='logo'>
      <ng-content class="img" header></ng-content>
    </div>
    <div class='input'>
      <input #input [(ngModel)]="value" (ngModelChange)="updateChanges()" type="text">
    </div>
    <svg preserveAspectRatio="none" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <path class="line" d="M0 0 L 100 00 " stroke-width="8" fill="transparent" stroke="black" stroke-linecap="round"
        stroke-dashoffset="1" stroke-dasharray="1" stroke-linejoin="round" />
      <path class="line" d="M0 100 L 100 100 " stroke-width="8" fill="transparent" stroke="black" stroke-linecap="round"
        stroke-dashoffset="1" stroke-dasharray="1" stroke-linejoin="round" />
    </svg>
    <svg class="c-2" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <path [ngClass]='hover?"active": ""' class="test" d="M0 2 C 70 0, 70 100, 0 98" stroke="black" fill="transparent"
        stroke-width="4" />
    </svg>
  </div>

</div>
