@import '../../../custom-styles//variables.scss';
:host {
  display: flex;
  // width: min-content;
  // padding: 0 1rem;
  // flex-grow: 1;

}

div {
  position: relative;
}

.wrapper {
  max-width: 0px;
  margin: auto;
  padding: 0 1.5em;
  // padding: 0 1.5em;
  width: 0%;
  transition: all 1s;

  &.active {
    min-width: 10em;
    max-width: 500px;
    width: 95%
  };
  &:not(.active) {
    min-width: 0em;
    max-width: 0px
  }
}

.line {
  stroke: $secondary-color;
}

.test {
  stroke: $secondary-color;
  stroke-dashoffset: 160;
  stroke-dasharray: 160;

  transition: all 1s;

  &.active {
    stroke-dashoffset: 0;

  }


}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

svg {
  height: 100%;
  width: 100%
}

.check-box-path {
  width: 100%;

}

.c-2 {
  width: unset;
  position: absolute;
  right: 0;
  //     stroke-dasharray: 150;
  // stroke-dashoffset: 74;

}

.l-1 {
  // background: gray;
  position: absolute;
}

.c-1 {
  width: unset;
  //    stroke-dasharray: 150;
  // stroke-dashoffset: 224;
  position: absolute;
}

.logo {
  transform: translateX(-50%) scale(0.7);
  position: absolute;
  height: 2em;
  display: flex;
}

.img {
  width: auto;
  height: 100%;

  height: -webkit-fill-available;
  position: relative;
}

.c-1 {
  overflow: visible;
  left: 0;
  // transform: translateX(100%);
}

.container {
  margin: auto;
  height: 2em;
}

.c-2 {
  overflow: visible;
  position: absolute;
  right: 0;
  transform: translateX(100%);
}

.input {
  position: absolute;
  top: 5%;
  height: 85%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1.5em;

  input {
    font-size: 1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #ffffff00;
    border: none;
    padding: 0.3em;
    outline: none;

  }
}
