<div class="container">
  <nav>
    <button class='button low ' routerLink="/profile/profile" routerLinkActive='active secondary filled'>
      <mat-icon>account_box</mat-icon>
      <div> My Profile</div>
    </button>
    <button class='button low ' routerLink="/profile/tf" routerLinkActive='active'>
      <mat-icon>dashboard</mat-icon> Two-factor authontification
    </button>

    <button class='button low ' routerLink="/profile/document" routerLinkActive='active'>
      <mat-icon>note</mat-icon> Documents
    </button>

    <button class='button low ' routerLink="/profile/old_request">
      <mat-icon>attach_money</mat-icon> Balances OLD REQUEST
    </button>
    <button href="#">
      <mat-icon>help</mat-icon> Support
    </button>
  </nav>
</div>
