<div class='container card'>
  <div class='content border'>
    <div class='avatar'>
      <img src="assets/img/new/CoinDogCurrency.svg" alt="">
    </div>
    <div class='text' style='white-space: nowrap;'>1 TKN = {{coinDog.value}} {{coinDog.currency}}</div>
  </div>
  <main class='content'>
    <div >
      <div class='names'>
        <div>Token name:</div>
        <div style='color: #ffad01'>Token</div>
      </div>
      <div class='names'>
        <div>Token symbol:</div>
        <div style='color: #ffad01'>TKN</div>
      </div>
    </div>
    <a class='dog-1'  style='    text-align: center;
      margin-right: unset;
    position: relative;
    background: #1295df;
    padding-left: 3rem;' href="assets/CoinDogWhitePaper.pdf" download="CoinDogWhitePaper.pdf">
      <img class='dog-1' style='    width: 2.5rem;
      position: absolute;
      left: 0;
      transform: translateY(-41%);

      top: 0;' src="assets/img/new/Group 40.svg" alt="">
      Download whitepaper</a>
    <a class='dog-2' style='  margin-right: unset;' href='https://etherscan.io' class='secondary filled low'>
      <img class='dog-2' style='position: absolute;
      left: 0;
      top: 0;
      width: 5rem;' src="assets/img/new/Group 30.1.svg" alt="">
      View contract</a>
  
  </main>
</div>
