@import '../../../../custom-styles/variables.scss';

.container {
  display: flex;
  align-items: center;
  padding: 1em;

  .avatar {
    width: 6rem;
  }

  main {
    white-space: nowrap;
    flex-grow: 1
  }

  a {
  
    outline: none;
    -webkit-appearance: none;
    border: unset;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in;
    font-size: 1rem;
    padding: 0.1em 1.3em;
    border: 2px solid #ffffff00;
    margin: 0.5em;
    text-decoration: none;
    text-transform: unset;
    background: $secondary-color;
    color: white;
    font-size: 1.2rem;

  }

  .content {
    &.border {
      margin-right: 1rem;
      border-right: 2px solid #2928280a;
      align-items: center;
      flex-basis: 40%;
    }

    height: 100%;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
    align-items: stretch;
    justify-content: space-around;

    .names {

      margin: 0.5em 0;
      display: flex;
      justify-content: space-between;
      justify-content: space-around;
    }
  }

  button {
    text-align: center;
  }
}



a {
  text-align: center;
}

@media only screen and (max-width: $screen-XXL) {
  .container {
    flex-direction: column;
    padding: unset;

    main {
      width: 100%;
      align-items: stretch;
    
    }
  }
}

@media only screen and (max-width: $screen-M) {
  .container {
    flex-direction: column;

    main {
      width: 100%
    }
  }
}

@media only screen and (max-width: $screen-XXL) {
  .container {
    .content {
      &.border {
        border: unset;
      }
    }
  }

}
a {
  position: relative;
}
.dog-2 {
  transform: translate(-18%, -28%);

}
@media only screen and (min-width: 1000px) {
  .container {
    .content {
      .avatar {
        width: 78px;
        height: 78px;
      }

      .text {
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5d6372;
      }
    }

    main {
      a {
        &.dog-1 {
          text-align: center;
          position: relative;
          background: #1295df;
          padding-left: 3rem;
        }

        &.dog-2 {
          position: relative;
          padding-left: 5rem;
        }

        img {
          &.dog-2 {
            transform: translate(-18%, -28%);
          }

          &.dog-1 {
            width: 38px;
            position: absolute;
            left: 0;
            transform: translate(8%, -41%);
            top: 0;
          }

          // transform: translateY(-30%);

        }
      }

      &.content {
        div {
          font-family: Montserrat;
          font-size: 17px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #5d6372;
        }
      }
    }
  }
}
