@import '../../../../custom-styles/variables.scss';

:host {
    font-size: 16px;
  }
  
  
  .container {
    padding: 0 2rem;
    flex-direction: column;
  
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;
  
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
  
        section {
          align-items: center;
          display: flex
        }
      }
    }
  
    main {
      display: flex;
  
      .list {
        transition: all 1s linear;
        flex-basis: 50%;
        box-sizing: border-box;
        flex-grow: 1
      }
  
      .faq-item {
        margin: 0.7em;
        transition: all 1s linear;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        div {
          white-space: nowrap;
        }
  
        &.active {
          color: #ff4f6a;
  
          .right {
            transform: rotate(-45deg);
            border-color: #FF4F6A
          }
        }
      }
  
      .card {
        height: fit-content;
        flex-basis: 50%
      }
    }
  }
  
  i {
    margin-left: 1rem;
    border: solid #ff315182;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  
  .right {
    transform: rotate(45deg);
  
  }
  
  .faq-text {
    padding: 12px;
    height: fit-content;
    border-radius: 2.5px;
    box-shadow: 0 1px 7.5px 0 rgba(0, 0, 0, 0.13)
  }
  
  @media only screen and (max-width: $screen-M) {
    .container {
      header {
        div {
          flex-direction: column;
  
          section {
            flex-direction: column;
          }
        }
      }
  
      main {
        .list {
          flex-basis: 100%;
  
          .right {
            transform: rotate(-135deg);
            transition: all 100ms linear
          }
  
          .faq-item {
            &.active {
              .right {
                transform: rotate(45deg);
  
              }
            }
  
          }
        }
      }
    }
  }
  