<div class='container'>
  <header>
    <h1 *ngIf='device !== "mobile"'>How can we help?</h1>
    <div>
      <section>
        <p>Choose your topic from list below or</p>
        <button routerLink='/support/create_request' class='primary filled'>Make request</button>
      </section>
      <aside>
        <button routerLink='/support/old_request' class='secondary unfilled'>see your active request</button>
      </aside>
    </div>

  </header>

  <main>
    <div class='list'>
      <ng-container *ngFor='let ques of faqList'>
        <div (click)='toggleFaqItem(ques)' class='faq-item card'
          [ngClass]='selected && selected.id === ques.id?"active":""'>
          <div>{{ques.title}} </div> <i class="arrow right"></i>
        </div>
        <div [@dropDown] *ngIf='device === "mobile" && selected && selected.id === ques.id' class='card'>
          <p>{{selected.text}}</p>
        </div>
      </ng-container>
    </div>
    <div [@dropDown] *ngIf='device !== "mobile" && selected' class='card'>
      <p>{{selected.id}} {{selected.text}}</p>
    </div>
  </main>
</div>
