<div class="container">

  <h3>
    Two-factor authentication (2FA) is the best way to protect yourself online.
  </h3>


  <section [@dropDown] *ngIf='showDescription'>
    <p>
      Relying on just usernames and passwords to secure your online accounts is no
      longer considered safe. Data breaches occur daily and hackers are always
      inventing new ways to take over your accounts. Protect yourself by enabling
      two-factor authentication (2FA). This blocks anyone using your stolen data
      by verifying your identity through your device. Enable 2FA now to protect
      your accounts online. <a href="#">Learn more about 2FA</a>
    </p>
    <p>
      We give you the opportunity to choose a different type of authentication for
      certain actions. All that is required of you is to note a method convenient
      for you. Thank you for being with us :)
    </p>
  </section>


  <button (click)='toggleDescription()' class='secondary unfilled'>
    {{(showDescription?"  Choose 2FA for special actions": "  Read more about 2FA")}}
  </button>
  <h3>
    Choose 2FA for special actions

  </h3>
  <!-- <main class="flex " style='align-items: stretch;' *ngIf="actions">
    <app-tf-card *ngFor="let action of actions" [methods]="methods" [action]="action"
      [settings]="getActionUserSettings(action.name)" (update2fa)="update2fa($event)"></app-tf-card>
  </main> -->
  <main class="card">
    <header>
      <div>Auth <mat-icon [matTooltipPosition]='"above"'
          matTooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, iusto fuga commodi nulla quae praesentium? Ad dolorum aperiam, rem id dolor corporis recusandae temporibus ratione facere odit repellat voluptate sequi!">
          help</mat-icon>
      </div>
      <div> from
        <input type="number" step="0.001" placeholder="0" />

        BTC <mat-icon [matTooltipPosition]='"above"'
          matTooltip="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, iusto fuga commodi nulla quae praesentium? Ad dolorum aperiam, rem id dolor corporis recusandae temporibus ratione facere odit repellat voluptate sequi!">
          help</mat-icon>
      </div>
    </header>
    <footer>
      <button class='secondary unfilled'>google</button>
      <button class='secondary filled'>Sms</button>
    </footer>
  </main>
</div>
