:host {
  background: aliceblue;
  min-width: 0;
  font-size: 16px;
}
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.container {
  flex-direction: column;
  padding: 2rem;
  background: white;
  margin: 2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  align-items: center;

  h3 {
    text-align: center;
  }

  color: #757575;


  a {
    font-size: 1em;
    text-transform: none
  }


  main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}


// .tf-authentication {
//   padding: 2rem;
//   background: white;
//   margin: 2rem;
//   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

//   h3 {
//     margin-bottom: 30px;
//     font-size: 20px;
//     font-weight: 500;
//     font-style: normal;
//     font-stretch: normal;
//     line-height: normal;
//     letter-spacing: 1px;
//     text-align: center;
//     color: #292929;
//   }

//   p {
//     color: #757575;

//     font-size: 16px;

//     a {
//       text-transform: none;
//       font-weight: normal;
//       font-style: normal;
//       font-stretch: normal;
//       line-height: 1.3;
//       letter-spacing: normal;
//       color: #757575;
//       font-size: 18px;
//       text-decoration: underline;
//     }
//   }
// }
