<!-- <h1 mat-dialog-title>Two-Factor Authentication</h1> -->

<div class='icon-wrapper'><i class="material-icons" (click)='closeModal()'>close</i></div>

<h1 mat-dialog-title>{{data.title}} </h1>
<div mat-dialog-content>
  <div>
    <div class='description'>
      <p>{{data.description}}</p>
    </div>
    <div *ngIf='data.params.type === "Google2FA"'>
      <div class="qr">
        <div class="qrImg">
          <img [src]="data.params.url" />
        </div>
        <div class="qrCode">
          <p>
            If you are unable to scan the QR code, please enter this code
            manually into the app.
          </p>
          <input type="text" placeholder="63SVFHV7BGHJ7HDD" [value]="data.params.secret" />
        </div>
      </div>
    </div>
    <div *ngIf='data.params.type === "Sms"' class='container'>
      <div class='input'>
        <mat-form-field>
          <input type='number' matInput placeholder="Pin-code">
        </mat-form-field>
      </div>
      <div> <button>Resend</button></div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
<!-- <div
  class="custom-modal modalTF-1 tf-enable"
  *ngIf="modalName === 'Google2FA' && parameters.status === 'on'"
>
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content animated  ">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="cancel()">
          <i class="material-icons">close</i>
        </button>
        <h4 class="modal-title" id="myModalLabel">Two-Factor Authentication</h4>
      </div>
      <div class="modal-body">
        <p>Scan this QR code in the Google Authentication app</p>
        <div class="qr">
          <div class="qrImg">
            <img [src]="parameters?.url" />
          </div>
          <div class="qrCode">
            <p>
              If you are unable to scan the QR code, please enter this code
              manually into the app.
            </p>
            <input
              type="text"
              placeholder="63SVFHV7BGHJ7HDD"
              [value]="parameters?.secret"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          class="btn-saturatedGreen btn_default waves-light"
          mdbWavesEffect
          (click)="openAcceptGoogle2fa()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- ACCEPT GOOGLE 2FA -->
<!-- <div
  class="custom-modal modalTF-1"
  *ngIf="modalName === 'GoogleAccept' && parameters.status === 'on'"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="cancel()">
          <i class="material-icons">close</i>
        </button>
        <h4 class="modal-title">Two-Factor Authentication</h4>
      </div>
      <div class="modal-body">
        <p>Enter code from Google Authentication app or scaned code</p>
        <div class="qr">
          <input type="text" placeholder="123456" #googleAccept />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          class="btn-saturatedGreen btn_default waves-light"
          (click)="confirm2fa(googleAccept.value)"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- ENABLE VIA SMS -->
<!-- <div
  class="custom-modal modalTF-1"
  tabindex="-1"
  *ngIf="modalName === 'Sms' && parameters.status === 'on'"
>
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="cancel()">
          <i class="material-icons">close</i>
        </button>
        <h4 class="modal-title" id="myModalLabel">Pin-code to sms</h4>
      </div>
      <div class="modal-body">
        <p>Pin-code sent to your phone please enter code below</p>
        <div class="code">
          <div class="form-group">
            <label for="">Pin-code</label>
            <input type="text" placeholder="2333" #smsCode />
          </div>
          <div class="form-group" [ngClass]="{ 'pt-3': !(timer > 0) }">
            <label for=""
              ><span style="user-select: none;" *ngIf="timer > 0"
                >Send in {{ timer }} seconds</span
              ></label
            >
            <button
              type="button"
              mdbBtn
              class="btn_default btn-border waves-light"
              (click)="resend()"
              [disabled]="timer > 0"
            >
              resend
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          class="btn-saturatedGreen btn_default waves-light"
          mdbWavesEffect
          (click)="confirm2fa(smsCode.value)"
        >
          Open
        </button>
      </div>
    </div>
  </div>
</div> -->


<!-- <div
  class="custom-modal modalTF-1 tf-disable"
  tabindex="-1"
  *ngIf="parameters.status === 'off'"
>
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content animated  ">
      <div class="modal-header">
        <button type="button" class="close pull-right" (click)="cancel()">
          <i class="material-icons">close</i>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Disable Two-Factor Authentication
        </h4>
      </div>
      <div class="modal-body">
        <p>Enter accept code from {{ parameters?.type }}</p>
        <div class="qr">
          <input type="text" placeholder="123456" #disableCode />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          class="btn-saturatedGreen btn_default waves-light"
          (click)="confirm2fa(disableCode.value)"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div> -->
