<div class='container'>
  <header class="card">
    <h3 class='title'>Transactions</h3>
    <!-- <h3>Estimated value of holdings: $0.00 USD / 0.00000000 BTC</h3>
    <section class='progress-bar'>
      <div></div>
    </section>
    <p>$200.00 remaining of $250.00 USD daily limit.</p> -->
  </header>
  <app-card-balance-table></app-card-balance-table>
</div>
