@import '../../../../custom-styles/variables.scss';
:host {
  display: flex;
  width: 100%;
  padding: 2rem 2rem;
}

.container {
  display: flex;
  /* width: 100%; */
  flex-grow: 1;
  flex-direction: column;

  .card {
    margin: 2rem 0;

  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      &.title {
        color: #292929;
      }

      text-align: center;
      font-size: 1.3rem;
      color: #757575;
    }

    section {
      height: 2rem;
      width: 80%;
      background: #e6e6e6;

      div {
        background:  $secondary-color;
        height: 100%;
        width: 21%;
      }
    }

    p {
      font-size: 1rem;

      color: #292929;
    }
  }
}
