<header>
  You have <span> 0.00000000 XPM</span> available for withdrawal. <span>0.00000000 XPM</span> is held <span> on
    orders.</span>
</header>
<main>
  <section>
    <label for=""> asd  <input class='textarea' type="text" placeholder="38c86d1b52b73bd6bae74df8a8106374f56cd52d
      5261cc6f211d4cf1e2be505e"></label>
 <label for="">
    <input class='text' type="text" placeholder="1.07752006">
 </label>
   
  </section>
  <aside>
    <div>
      <p>Transaction Fee: </p>
      <p>-0.01000000</p>
    </div>
    <div>
      <p>Total:</p>
      <p>1.08752006</p>
    </div>
    <button class='primary filled '>Withdraw</button>
  </aside>

</main>
