@import '../../../../../../custom-styles//variables.scss';
:host {
  padding: 1rem;
  display: flex;
  border: 1px solid  $secondary-color;
  flex-direction: column;
}

header {
  color: #000000;

  span {
    font-weight: 500
  }
}

main {
  display: flex;

  section {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    justify-content: space-around;

    label {
      display: flex;

      input {
          flex-grow: 1;
        display: flex;
        padding: 1rem
      }
    }
  }

  aside {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    div {
      display: flex;
      justify-content: space-between;
    }

    button {
      width: min-content;
    }
  }
}

  
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    white-space:pre-line;  
    position:relative;
    top:-7px;
    
  }
  ::-moz-placeholder { /* Firefox 19+ */
       white-space:pre-line;  
    position:relative;
    top:-7px;
  }
  :-ms-input-placeholder { /* IE 10+ */
      white-space:pre-line;  
    position:relative;
    top:-7px;
  }
  :-moz-placeholder { /* Firefox 18- */
       white-space:pre-line;  
    position:relative;
    top:-7px;
  }