<!-- <div class='circle-square-wrapper'>
  <div class='circle-square bot left'>
    <img src="assets/img/new/circle_square.pink.svg" alt="">
  </div>
  <div class='circle-square bot right'>
    <img src="assets/img/new/circle_square.grey.svg" alt="">
  </div>
  <div class='circle-square top left'>
    <img src="assets/img/new/circle_square.orange.svg" alt="">
  </div>
</div> -->
<div class="container">

  <form [formGroup]="form">
    <header class='title'>
      <H1>Login</H1>
      <div class='logo'>
        <img src="../../../../assets/img/new/logo_dark.png    " alt="">
      </div>
    </header>
    <main>
      <app-input-text  placeholder='email' formControlName="uid"></app-input-text>
      <app-input-text [password]='true' placeholder='password' formControlName="password"></app-input-text>

    </main>
    <div style='display: flex;' class='messages'>
      <!-- <div>
        <label>
          <input type="checkbox" class='checkbox'>Remmember me</label>
      </div> -->
      <div>
        <!-- <a href="https://dev.coindogs.co/Forgot">Forgot password?</a> -->
        <a href="https://coindogs.co/Forgot">Forgot password?</a>
      </div>
    </div>
    <button (click)='signin()' class='primary filled'>login</button>
    <footer>
      New User? <span (click)='toggleToRegister()'>Sign Up</span>
    </footer>
  </form>
  <!-- <a href="http://www.google.com/" target="_blank" (click)="setCookie('clicklink', 'yes', 30)" id="clink">Visit this to unlock</a> -->
</div>
