@import '../../../../custom-styles/variables.scss';

:host {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.circle-square-wrapper {
  display: none;
}

footer {
  display: none;
  font-size: 16px;

  span {
    color: $secondary-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.logo {
  display: none;
  margin: auto;
  width: 60%;
}

@media only screen and (max-width: $screen-M) {
  :host {
    background: #f7f8f8
  }

  footer {
    display: unset;
  }

  h1 {
    display: none;
  }

  .logo {
    display: block
  }

  .circle-square-wrapper {
    display: unset
  }
}



button {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  padding: 0.5em 2em;
}
