<header>
  <h3>IMPORTANT: Send only {{selectedCurrency}} to this address.</h3>
  <p>Sending any orther currency to this address may result in the loss of your deposit.</p>
</header>
<main>
  <p>Your basic Attention Token Deposit Address:</p>
  <div *ngIf='showWalletAdress' class='wrapper'>
    <section *ngIf='showWalletAdress'>{{(selectedCurrencyWallet || "not found")}}</section>
    <div *ngIf='showQrCode' [@dropDown] class='qr-code'>
      <img [src]="qrImage" alt="no image">
    </div>
  </div>

  <p *ngIf='!showQrCode && showWalletAdress' (click)='enableshowQrCode()'><span>Show QR Code</span> </p>
</main>
<footer>
  <ng-container *ngIf='!showWalletAdress'>
    Got it. Show me the <span (click)='enableshowWalletAdress()'> Deposit Address.</span>
  </ng-container>
  <ng-container *ngIf='showWalletAdress'>
    After making a deposit, you can track its progress on the <span>Deposit & Withdrawal History</span> page
  </ng-container>
</footer>
