@import '../../../../../../custom-styles/variables.scss';

:host {
  display: flex;
  padding: 1rem;
  border: 1px solid  $secondary-color;
  flex-direction: column;
}

span {
    text-decoration: underline;
    cursor: pointer;
  }
header {


  h3 {
    color: #d03f3f;
  }

  p {
    color: #292929;
  }
}

main {
  section {
    text-align: center;
    color: #292929;
    padding: 1rem 0;
    font-size: 1.2rem;
  }
  .wrapper {
    border: solid 1px #f0f0f0;
  }
  .qr-code {
    width: 20rem;
    height: 20rem;
    margin: auto;
  }
}

footer {
  color: #777777;


}

@media only screen and (max-width: 400px) {
 :host {
   margin: 1rem;
   border: unset
 }

}