@import '../../../../custom-styles/variables.scss';
:host {
  display: flex;
  padding: 2rem;
}

h1 {
  font-weight: normal;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  section {
    display: flex;

    div {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      text-transform: capitalize;

      div {
        &:nth-child(1) {
          color: #757575;
        }
      }
    }
  }
}
footer {
    display: flex;
    justify-content: space-between;
}
textarea {
    padding: 1rem;
    margin: 1rem 0;
    min-height: 100px;
    width: -webkit-fill-available;
}
label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #d89811;
    ;
  
    mat-icon {
      background:  $secondary-color;
      padding: 0.5rem;
      border-radius: 50%;
      color: white;
      margin-right: 1rem;
    }
  }