<div class='container'>
  <p>Back</p>
  <h1>Donec vel lorem posuere</h1>
  <section class="card">
    <div>
      <div>ID:</div>
      <div>{{request.id}}</div>
    </div>
    <div>
      <div>Topic:</div>
      <div>{{request.topic}}</div>
    </div>
    <div>
      <div>Create date:</div>
      <div>{{request.date | date}}</div>
    </div>
    <div>
      <div>Last Update:</div>
      <div>{{request.lastUpdate | date}}</div>
    </div>
    <div>
      <div>Status:</div>
      <div>{{request.status}}</div>
    </div>
  </section>
  <main>
    <ng-container *ngFor='let item of chatList'>
      <app-support-chat-card [chatItem]='item'></app-support-chat-card>
    </ng-container>
  </main>
  <textarea placeholder="Type here"></textarea>
  <footer>
    
      <label>
          <mat-icon>attach_file</mat-icon>
          <p *ngIf='!file'>Attach file (jpeg, png, pdf)</p>
          <p *ngIf='file && file.name'>{{file.name}}</p>  <input id="upload-photo" type="file" name="file"
            accept=".jpg, .png, .pdf, .jpeg" (change)="onLoadDocument($event)" />
        </label>
        <button class='primary filled'>Send</button>
  </footer>
 
  <!-- <input type="textarea" placeholder="Type here"> -->
</div>
