<div class='container card'>
  <header class='links'>
    <div>
      <a routerLink="/deposit" routerLinkActive='active'>Choose amount</a>
      <!-- <a routerLink="/payment-detail" routerLinkActive='active'>2. Process payment</a> -->
    </div>

    <!-- </title> -->
    <section> {{coinDogInput.value || 0}} TKN = {{coinDogPrice.value * coinDogInput.value || 0 }}
      {{coinDogPrice.currency}}</section>
  </header>

  <div *ngIf='coinDogBonus' class='bonus line-after line-before'>
    <h2>Current bonus <span style='color:#ffad01'>50%</span> </h2>
  </div>
  <div class='content'>
    <div class='selected'>
      <div class='image'>
        <img src="assets/img/new/CoinDogCurrency.svg" alt="no">
      </div>
      <div>
        <div class='input'>
          <input type="number" [formControl]='coinDogInput'>
          <div class='label'>CDS</div>
        </div>
        <p class='line-after' *ngIf='coinDogBonus'>+ {{coinDogBonus}} CDS bonus</p>
        <p class='total'>= {{coinDogInput.value + (coinDogBonus || 0) }} CDS </p>
      </div>

    </div>
    <form class='list' [formGroup]="cryptoForm">

      <div *ngFor='let payment of currencyList;let first = first; let last = last ' [class.first]="first"
        [class.last]="last">
        <div class='list-item'>
          <div class='arrow-double' [ngClass]='lastCalculated === payment.currId? "active": ""'></div>
          <div class='image'>
            <img src={{payment.currencyLogoImg}} alt="no">
          </div>
          <div class='input'>
            <input placeholder={{payment.value}} type="number" (blur)='unsubscribe(payment.currId)'
              (focus)='test(payment.currId)' [formControlName]=payment.currId>
            <div class='label'>{{payment.currId}}</div>
          </div>
          <button (click)='navigate($event,payment.currId )' class='primary filled'>Pay with
            {{payment.currId}}</button>
        </div>
      </div>
    </form>

  </div>
  <div [@opacity] *ngIf='dogHelperOpen' class='dog-helper'>
    <app-dog-helper (closeHelper) = 'close($event)' >
        <ol>
            <li>Choose amount of token</li>
            <li>You have live coversion of  Cryptos accepted</li>
            <li>You get payment page after selection your crypto payment method</li>
          </ol>
    </app-dog-helper>
  </div>
</div>



<!-- <ng-container *ngFor='let key of keys(testInputs)'>
    <label>
        {{key}}
        <input type="text" formControl={{key}}>
      </label>
</ng-container> -->
