@import '../../../custom-styles/variables.scss';
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 1rem auto;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
      font-size: 1.4em;
      padding: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.dog-helper {
  position: fixed;
  bottom: 5%;
  left: 0;

  transform: translate(100%, -50%);
}

h2 {
  font-family: Montserrat;
  font-weight: normal;
  color: #6b6b6b;
  margin: 0;
}


.links {
  white-space: nowrap;
  margin: 2em;
  display: flex;

  a {
    &.active {
      color: #ffa901;
      text-decoration: underline;
    }

    margin: 0 1em;
    font-size: 1.4em;
    color: #9c9c9c
  }
}



.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}



.total {
  color: #5dad49;
}

.line-before {
  &::before {
    content: '';
    height: 1px;
    display: block;
    width: 100%;
    /* background: red; */
    margin-bottom: 0.5em;
    background: #e4e4e4;
  }
}

.line-after {
  &::after {
    content: '';
    height: 1px;
    display: block;
    width: 100%;
    /* background: red; */
    margin-top: 0.5em;
    background: #e4e4e4;
  }
}

.selected {

  /* height: 3em; */
  align-items: flex-start;
  /* border-bottom: 1px solid #e4e4e4; */
  padding: 1.3em 0px 1.3em 0px;
  display: flex;
}

.list:last-child {

  border-bottom: none
}

.list {
  padding-left: 3em
}

.list-item {
  justify-content: space-between;
  position: relative;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  padding: 1.3em 0px 1.3em 0px;
  display: flex;

  display: grid;
  grid-template-columns: 0% 10% 50% 30%;

  button {
    white-space: nowrap;
  }

  // grid-template-rows: 25% 100px auto;
}



.last {
  .list-item {
    border: unset
  }
}

.arrow-double {
  transition: all 300ms linear;

  &.active {

    border: solid #b4b4b4;
    border-width: 0 3px 3px 0;

    &::before {
      border: solid #b4b4b4;
      border-width: 0 3px 3px 0;
    }
  }

  border: solid #b4b4b400;
  border-width: 0 3px 3px 0;
  display: block;
  padding: 0.5em;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  // margin-right: 1em;
  // position: absolute;
  margin: auto;
  left: -2em;

  &::before {
    transition: all 300ms linear;
    position: absolute;
    content: '';
    border: solid #b4b4b400;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin: -0.8em 0px 0px -0.8em;
    padding: 0.4em;
  }
}

.image {
  min-width: 3em;
  width: 3rem;
  margin-right: 1em;
}


.label {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #9a9da6;

  &::before {
    position: relative;
    content: '';

    height: 1.8em;

    right: 0.5em;
    width: 1px;

    background: #d2d9e7;

  }
}

.input {
  flex-grow: 1;
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: solid 1px #d2d9e7;
  background-color: #ffffff;
  padding: 0.7em 0.9em;
}

input {
  flex-grow: 1;
  color: #9a9da6;

  &::placeholder {
    color: #9a9da6;
  }

  font-size: 1.1em;
  border: none;
  outline: none;
  -webkit-appearance: none
}

@media only screen and (max-width:$screen-XL) {
  .list-item {
    display: flex;
    flex-direction: column;

    .arrow-double {
      position: absolute;
      top: 43%;
    }
  }

  .input {
    min-width: 0
  }
}

@media only screen and (max-width: $screen-M) {
  .content {
    flex-direction: column
  }

  .list-item {

    .arrow-double {
      transform: rotate(225deg);
    }
  }

  .input {
    min-width: 0
  }
}

@media only screen and (max-width: 320px) {

  .input {
    min-width: 0
  }


}
