@import '../../../../custom-styles/variables.scss';
.container {
  nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    button {
      padding: 0.4rem 1rem;
        display: flex;
        align-items: center;
        border-radius: 2rem;
        &:not(.active) {
            color: #b1b1b1;
            background: #f1f1f1;
            box-shadow: unset
        };
        &:hover{
            color:   $secondary-color;
            border-color:  $secondary-color
        }
    
    }
  }
}
.mat-icon{
    height: unset;
    width: unset;
    margin-right: 0.5rem;
    font-size: 1.3em;
}
