<div class="container">
  <nav>
    <button class='button low' routerLink="/profile/profile" routerLinkActive='active secondary filled'>
      <mat-icon>account_box</mat-icon>
      <div> My Profile</div>
    </button>
    <button class='button low ' routerLink="/profile/tf" routerLinkActive='active secondary filled'>
      <mat-icon>dashboard</mat-icon> Two-factor authontification 
    </button> 

    <button class='button low ' routerLink="/profile/document" routerLinkActive='active secondary filled'>
      <mat-icon>note</mat-icon> KYC
    </button>
     <button class='button low ' routerLink="/profile/balance" routerLinkActive='active secondary filled'>
      <mat-icon>attach_money</mat-icon> Balances
    </button>
    <button (click)='logout()' class='button low'>
      <mat-icon>input</mat-icon> Logout
    </button>

   
    <!-- <button class='button low ' routerLink="/profile/balance">
      <mat-icon>attach_money</mat-icon> Balances
    </button>
    
    <button class='button low ' routerLink="/profile/old_request" routerLinkActive='active secondary filled'>
      <mat-icon>attach_money</mat-icon> Balances OLD REQUEST
    </button>
    <button routerLink="/profile/request/createRequest" routerLinkActive='active secondary filled'>
      <mat-icon>help</mat-icon> Support
    </button> -->
  </nav>
</div>
