@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './tablet.scss';
@import "./mobile.scss";
@import "./custom-styles/button.scss";

@import "./custom-styles/input-text.scss";


@import "./custom-styles/link.scss";

@import './custom-styles//variables.scss';

.mat-icon {
  height: 10px;
  width: unset
}

html {
  .mat-icon {
    height: unset;
    width: unset
  }

  color: #b8b8b8
}

.icon {
  width: 25px
}

.flex {
  display: flex;

  &-column {
    flex-direction: column;

    &-center {
      align-items: center
    }
  }
}

body {
  background: #f8f8f9;
  // max-width: 1200px;
  // margin: auto;
  font-family: Montserrat;
  color: #535a6a;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border: 0;
  }

  * {
    &::-webkit-scrollbar-track {
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 2px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #e0e0e0;
      border: 0;
    }
  }
}

input {
  min-width: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.line-before {
  &::before {
    content: '';
    height: 1px;
    display: block;
    width: 100%;
    /* background: red; */
    margin-bottom: 0.5em;
    background: #e4e4e4;
  }
}

.line-after {
  &::after {
    content: '';
    height: 1px;
    display: block;
    width: 100%;
    /* background: red; */
    margin-top: 0.5em;
    background: #e4e4e4;
  }
}

.container {
  display: flex
}


.material-icons {
  font-size: 1.4rem
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background: white;
  padding: 1rem;

  &.container {
    height: 100%;
    // margin: 1em;
    padding: 1em;
    box-sizing: border-box;
  }

}


i {
  cursor: pointer;
}



img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.activeDropdown {
  display: none
}






.dropdown {
  .dropdown-title {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .submenu {
    display: none;
  }

  &.active {
    .submenu {
      display: block;
    }
  }
}

i {
  border: solid #ff315182;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;

  &.right {
    transform: rotate(45deg);
  }
}

input[type='file'] {
  display: none;
}

.circle-square {

  width: 15rem;
  position: absolute;
  transform: rotate(57deg);
  z-index: 1;


  &.top {
    &.left {

      top: -67px;
      left: -124px;
    }
  }

  &.bot {
    &.right {

      bottom: 76px;
      right: -71px;
    }

    &.left {
      transform: rotate(57deg);
      bottom: 35px;
      left: -77px;
    }
  }


}


button {
  &.mat-icon-button {
    border: none;
    box-shadow: none;
    height: 1em;

    svg {
      transform: translateY(-25%);
    }
  }
}

label {
  // flex-basis: 50%;
  // width: 100%;
  // display: flex;
  // align-items: center;

  &.mat-form-field-label {
    margin-top: 0 !important;
    width: min-content !important;

  }

  // &:nth-last-child() {
  //   flex-basis: 100%;
  // }
}

.mat-select-arrow-wrapper {
  opacity: 0;
  // display: hidden !important;
}

;

.mat-form-field-wrapper {
  width: 100%;
}

.mat-form-field-infix {
  padding: 0.75em !important;
  border-color: #b6b6b6 !important
}

.mat-form-field-flex {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  margin: 0.7em 0;
  position: relative;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

@media only screen and (min-width: 1000px) {
  body {
    height: 95vh;
  }
}
