@import './custom-styles/variables.scss';

// @media only screen and (max-width: $screen-XXL) {
//   html {
//     h1 {
//       font-size: xx-large;
//     }
//   }

// }
@media only screen and (max-width:$screen-XL) {
  html {
    font-size: 14px
  }

}
@media only screen and (max-width: $screen-M) {
  html {
    font-size: 12px
  }
}


