@import '../../../custom-styles/variables.scss';
// .container {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: stretch;


//   .flex-item {
//     padding: 1em;
//     flex-grow: 1;
//     // min-width: 320px;

//     // &:nth-child(1) {
//     //   min-width: 300px;
//     //   flex-basis: 20%;
//     // }

//     // &:nth-child(2) {
//     //   flex-basis: 30%;
//     // }

//     // &:nth-child(3) {
//     //   flex-basis: 40%;
//     // }

//     // &:nth-child(4) {
//     //   flex-basis: 20%;
//     // }

//     // &:nth-child(5) {
//     //   flex-basis: 40%;
//     // }

//     // &:nth-child(6) {
//     //   flex-basis: 30%;
//     // }

//   }
// }
// app-card-token {
//   flex-basis: 30%;

// }

// OLD

.container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1rem;
  // padding-bottom: 1rem;
  padding: 1rem 0;
}

app-card-profile {
  // width: 230px;
  grid-column: 1 / span 4;
  grid-row: 1;
}

app-card-balance {
  // width: 300px;
  grid-column: 5 / span 7;
  grid-row: 1;
}

app-card-token {
  grid-row: 1;

  grid-column: 12/ span 9;
}

app-card-test-product {
  grid-column: 1/ span 3;
  grid-row: 2;
}

app-transactions {
  grid-row: 2;
  grid-column: 2;
  grid-column: 4/ span 11;
}

app-card-token-calculator {
  grid-row: 2;
  grid-column: 15/ span 6;
}

.dog-helper {
  display: none;
  position: fixed;
  bottom: 57px;
  right: 60px;

  .text {
    position: absolute;
    top: -47px;
    white-space: nowrap;
    transform: translateX(-50%);
    background: #f9ad01;
    border-radius: 7px;
    padding: 1rem
  }
}

// NEW
@media only screen and (min-width: 1200px) {
  .dog-helper {
    all: unset;
    position: fixed;
    bottom: 57px;
    right: 60px;
    img {
      width: 69px;
      height: 69px;
    }
    .text {
      color: white;
      position: absolute;
      top: -35px;
      white-space: nowrap;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      background: #f9ad01;
      border-radius: 7px;
      padding: 0.5rem 1rem;
  
    }
  }
  .container {
    all: unset;
    display: grid;
    grid-template-columns: repeat(200, 1fr);
    // grid-column-gap: 1vw;
    grid-row-gap: 1rem;
    // padding-bottom: 1rem;
    grid-template-rows: 230px 250px;
    padding: 1rem 0;
    app-card-profile {
      // width: 230px;
      grid-column: 6 / span 33;
      grid-row: 1;
    }
  
    app-card-balance {
      // width: 300px;
      grid-column: 44 / span 49;
      grid-row: 1;
    }
  
    app-card-token {
      grid-row: 1;
  
      grid-column: 98/ span 98;
    }
  
    app-card-test-product {
      grid-column: 5/ span 36;
      grid-row: 2;
    }
  
    app-transactions {
      grid-row: 2;
      grid-column: 2;
  
      grid-column: 45/ span 93;
    }
  
    app-card-token-calculator {
      grid-row: 2;
      grid-column: 142/ span 54;
    }
  }

  
}


// @media (min-width: $screen-M) and (max-width: $screen-XXL) {
//   app-card-profile {
//     grid-column: 1 / span 7;
//     grid-row: 1;
//   }

//   app-card-balance {
//     grid-column: 8 / span 8;
//     grid-row: 1;
//   }

//   app-card-token {
//     grid-row: 2;
//     grid-column: 1/ 12;
//   }

//   app-card-test-product {
//     grid-column: 16/ span 5;
//     grid-row: 1;
//   }

//   app-transactions {
//     grid-row: 3;

//     grid-column: 1/ span 20;
//   }

//   app-card-token-calculator {
//     grid-row: 2;
//     grid-column: 12/ span 9;
//   }
// }

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  app-card-profile {
    margin: 1rem;
  }

  app-card-balance {
    margin: 1rem;
  }

  app-card-token {
    margin: 1rem;
  }

  app-card-test-product {
    margin: 1rem;
  }

  app-transactions {
    margin: 1rem;

  }

  app-card-token-calculator {
    margin: 1rem;
  }
}
