<div class='container'>
  <app-card-profile class="flex-item"></app-card-profile>
  <app-card-balance class="flex-item"></app-card-balance>
  <app-card-token class="flex-item" style="flex-grow: 2"></app-card-token>
  <app-card-test-product class="flex-item"></app-card-test-product>

  <app-card-token-calculator class="flex-item"></app-card-token-calculator>
  <app-transactions class="flex-item"></app-transactions>
</div>
<div class='dog-helper'>
  <div class='text'>
      Are you lost? I can help you
  </div>
  <img src="assets/img/new/dog-helper.svg" alt="">
</div>