:host {
  z-index: 1;
}

.error {
  font-size: 0.8em;
  color: red;
  position: absolute;
  line-height: 0.8em;
  bottom: -0.7em;
}




input {
  border: unset;
  outline: none;
  font-size: 1em;
  width: 100%;
  background: #ffffff00;
  //   border: 1px solid #c1c1c1;
  box-sizing: border-box;
  padding: 0.7em;

}

input:-internal-autofill-selected {
  background-color: red !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

main {
  min-width: 180px;
  width: 100%;
  display: flex;
  margin: 0.7em 0;
  position: relative;
}

.placeholder {
  position: absolute;
  top: 0.7em;
  left: 1em;
  transition: all 0.2s;

  &.active {
    padding: 0 0.2em;
    transform: scale(0.8);
    background: white;
    top: -0.6em;
    // left: -0.2em;
  }


}

.circle-path {
  stroke-dasharray: 302;
  stroke-dashoffset: 301;
  animation: dash 1s linear forwards;
}

app-input-text {
  width: 100%;
}

.input-wrapper {
  width: 100%;

  background: white;
  display: flex;
  align-items: center;
  border: 1px solid #b6b6b6;

  &.invalid {
    border-color: #ff6869
  }
}

.check-box-path {
  stroke-dasharray: 105;
  stroke-dashoffset: 105;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.line {
  stroke-dasharray: 84.85281372070312;
  stroke-dashoffset: 84.85281372070312;

}

.line-1 {
  animation: dash-1 1s linear forwards;
}

.line-2 {
  animation: dash-2 2s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-1 {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-2 {
  50% {
    stroke-dashoffset: 84.85281372070312;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.success {
  padding: 0 0.6em;
  width: 1em;
  height: 1em;
}
