<main class="input-group">
  <div [ngClass]='showError && !control.valid?"invalid": "" ' class='input-wrapper'>
    <input autocomplete="false" *ngIf='!password && !Datepicker' #input
      (focus)='transformPlaceholder = true && focus= true  ' (blur)=' checkErrors() && focus = false' type='text'
      step="0.001" class="form-control" [disabled]="disabled" [(ngModel)]="value" (ngModelChange)="updateChanges()" />
    <input autocomplete="false" *ngIf='password ' #input (focus)='transformPlaceholder = true && focus= true  '
      (blur)=' checkErrors() && focus = false' type='password' step="0.001" class="form-control" [disabled]="disabled"
      [(ngModel)]="value" (ngModelChange)="updateChanges()" />

    <ng-container *ngIf='Datepicker'>
      <input [matDatepicker]="myDatepicker" autocomplete="false" #input
        (focus)='transformPlaceholder = true && focus= true  ' (blur)=' checkErrors() && focus = false' type='text'
        step="0.001" class="form-control" [disabled]="disabled" [(ngModel)]="value" (ngModelChange)="updateChanges()" />
      <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>

    </ng-container>

    <div *ngIf='!Datepicker'  class='success'>
      <svg *ngIf='control.dirty &&  control.valid' viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">

        <path class="check-box-path" d="M20 50 L 50 80 L 80 35"
          stroke-width="20                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                "
          fill="transparent" stroke="#ffad01" stroke-linecap="round" stroke-dashoffset="95" stroke-dasharray="100"
          stroke-linejoin="round" />

      </svg>
      <svg *ngIf='control.dirty &&  !control.valid' viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path class="line line-1" d="M80 20 L 20 80 " stroke-width="20" fill="transparent" stroke="#ff6869"
          stroke-linecap="round" stroke-dashoffset="95" stroke-dasharray="100" stroke-linejoin="round" />
        <path class="line line-2" d="M20 20 L 80 80 " stroke-width="20" fill="transparent" stroke="#ff6869"
          stroke-linecap="round" stroke-dashoffset="95" stroke-dasharray="100" stroke-linejoin="round" />
      </svg>
    </div>

  </div>


  <div (click)='deligerToInput($event)' [ngClass]='transformPlaceholder ? "active": ""' class='placeholder'>
    {{placeholder}}</div>
  <div class='error' *ngIf='showError'>
    {{getError()}}
  </div>

  <!-- <div>

    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <circle class="circle-path" cx="50" cy="50" r="48" stroke="black" stroke-width="4" fill="none" />

    </svg>

  </div> -->

</main>
