<div class='container card'>
  <h2>Etherium wallet ONLY (instant processing) </h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor quod rerum suscipit facilis voluptatem.
    Pariatur itaque, dolorem illum eum nam error dicta placeat veritatis veniam numquam vero, quas magni atque?
  </p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, perferendis fugiat, quam doloribus nostrum
    reprehenderit quia enim id vero ipsam eum! Atque autem impedit fugit temporibus maxime delectus esse culpa!
  </p>
  <p>
    ZECASH (ZCH) is ERC20 compliant, verified and audited. You can check source code here:
    <br>
    <a href={{erc20WalletAdress}}>{{erc20WalletAdress}}</a> Source code is
    vrified and audited
  </p>
  <section class="a">
    <p>send ETH to ZeCash Contract adress:</p>
    <div style='    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    '>
      <div class='input'>{{wallet}}</div> <button (click)='copy()' class='secondary unfilled low'>Copy <span
          [ngClass]="copied?'active': ''">Copied</span></button>
    </div>

  </section>
  <app-card-token-calculator [calculateETH]='true'></app-card-token-calculator>
  <section>
    <p>To view ZHC Tokens recieved, put these parameters in your wallet:</p>
    <li>Token contract adress > 0xC1c11321526D00912E5c7D159897214d7Fc69a91 </li>
    <li>Token symbol > ZSH</li>
    <li>Decimals > 18</li>
  </section>
  <p class='warn'>
    Do not send ETH Directly from any exchange adress or Jaxx wallet, otherwise your token will be lost
  </p>
  <p>Recommanded gas limit: 150.000 units. Recommanded gas price: 40 gwei</p>

</div>
