@import '../../../custom-styles/variables.scss';
.container {
  flex-direction: column;
  color: #757575;
  margin: 1rem 2rem;
}


li {
  list-style: none;
  color: $secondary-color;

  &::before {
    content: "\2713\0020";
    font-size: 1.3rem;

  }
}

section {
  &.a {
    div {
      display: flex;

      span {
        color: gray;
        right: 50%;
        position: absolute;
        top: 0;
        transform: translate(50%, -120%);
        // animation: appear 2s linear;
        opacity: 0;
        // display: none;

        &.active {
          animation: appear 2s linear
        }
      }

      button {
        position: relative;
        display: flex;

      }
    }
  }
}

@keyframes appear {
  from {
    display: block;
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
    display: block;
  }

  to {
    opacity: 0;
    display: none
  }
}

a {
  text-transform: unset
}

.warn {
  color: red
}

.input {
  vertical-align: top;
  border: 1px solid grey;
  padding: 1rem;
  display: flex;
  color: grey
}
